---
layout: layouts/base.njk
title: Duo Studio — A Creative Digital Agency in Washington DC
description: We're now serving the Washington DC area. Let us know how we can help your branding or website.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="landing" id="smooth-wrapper">
    <nav class="anchors">
        <ul>
            <li><a href="/"><img src="/assets/logo.svg" alt="logo" width="52" height="35"/></a></li>
        </ul>
    </nav>
    <div class="btn__small cursor__hover --highlight anchor" data-attribute-scroll="form">
        Contact Us
    </div>
    <main id="smooth-content" class="crtv a">
        <section id="banner" class="is-dark full-height st__plax --banner">
            <img
                srcset=" /assets/landing/creative-agency-dc__banner--major@1024.webp 1024w,
                    /assets/landing/creative-agency-dc__banner--major.webp 1920w "
                sizes="100vw"
                src="/assets/landing/creative-agency-dc__banner--major.webp"
                alt="intro-image"
                width="1920"
                height="1221"
                class="st__plax--inner"/>
            <div class="row">
                <div class="col">
                    <h1 class="headline__load lg">DC's Creative Agency</h1>
                    <p>
                        At Duo, we weave together bold strategy and creative execution to produce highly-personalized branding, web design and
                        content marketing solutions. Have a project in mind? We'd love to hear about it.
                    </p>
                    <div class="btn__small cursor__hover anchor" data-attribute-scroll="form">
                        Get Started
                    </div>
                </div>
                <div class="col">
                    <img
                        srcset=" /assets/landing/creative-agency-dc__banner--minor@450.webp 450w,
                            /assets/landing/creative-agency-dc__banner--minor.webp 636w "
                        sizes="(min-width: 1024px) 33vw, 62vw"
                        src="/assets/landing/creative-agency-dc__banner--minor.webp"
                        alt="intro-image"
                        width="636"
                        height="705"
                        class="st__image"
                        data-attribute-pos="right"/>
                </div>
            </div>
        </section>
        <section id="services" class="bg__trigger">
            <h4 class="lg st__headline--spread">Digitally driven, human made</h4>
            <div class="row plax__cols">
                <div class="col">
                    <p class="subtitle">Digital Marketing Strategy</p>
                    <div class="st__plax">
                        <img
                            srcset=" /assets/landing/strategy-mockup__creative-agency-dc.webp 500w "
                            src="/assets/landing/strategy-mockup__creative-agency-dc.webp"
                            sizes="(min-width: 1024px) 26vw, 88vw"
                            alt="brand-strategy-image"
                            class="st__plax--inner"
                            width="500"
                            height="640"/>
                    </div>
                    <span>01</span>
                    <p>
                        At the epicenter of every successful project lies a robust brand research and digital marketing strategy plan. Through
                        immersive collaborative exploration, we take a deep-dive into your business, your audience, and market to define a
                        roadmap that inspires action.
                    </p>
                </div>
                <div class="col">
                    <p class="subtitle">Branding & Identity</p>
                    <div class="st__plax">
                        <img
                            srcset=" /assets/landing/brand-identity-mockup__creative-agency-dc.webp 500w "
                            src="/assets/landing/brand-identity-mockup__creative-agency-dc.webp"
                            sizes="(min-width: 1024px) 26vw, 88vw"
                            alt="brand-identity-image"
                            class="st__plax--inner"
                            width="500"
                            height="640"/>
                    </div>
                    <span>02</span>
                    <p>
                        Through the harmonious balance of empathy and strategy, we transform business values into brand identities. Our
                        full-spectrum approach to branding captures the spirit of your company, depicted through logo design, digital messaging,
                        and design systems.
                    </p>
                </div>
                <div class="col">
                    <p class="subtitle">Website & Content</p>
                    <div class="st__plax">
                        <img
                            srcset="/assets/landing/content.webp 500w"
                            src="/assets/landing/content.webp"
                            sizes="(min-width: 1024px) 26vw, 88vw"
                            alt="content-image"
                            class="st__plax--inner"
                            width="500"
                            height="640"/>
                    </div>
                    <span>03</span>
                    <p>
                        We don’t just build beautiful websites; we create growth-driven digital experiences that put people first. Every
                        element, from search engine optimization (SEO) to content marketing, is fine-tuned to ensure your customers an immersive
                        journey from their first click.
                    </p>
                </div>
            </div>
            <div class="cta">
                <span class="st__text">Ready?</span>
                <h4 class="st__headline">Get started with your next agency</h4>
                <div class="btn__circle anchor" data-attribute-scroll="form">
                    Contact Us
                </div>
            </div>
        </section>
        <section
            id="featured"
            class="bg__trigger full-height st__plax cursor__hover egg-event --full --overflow"
            data-attribute-text="next">
            <div class="slider__bg st__plax--inner">
                <img
                    srcset=" /assets/landing/madegood-banner@1024.webp 1024w, /assets/landing/madegood-banner.webp 1920w "
                    sizes="100vw"
                    src="/assets/landing/madegood-banner.webp"
                    alt="project-image"
                    width="1024"
                    height="806"/>
                <img
                    srcset=" /assets/landing/endurancebox-banner@1024.webp 1024w, /assets/landing/endurancebox-banner.webp 1920w "
                    sizes="100vw"
                    src="/assets/landing/endurancebox-banner.webp"
                    alt="project-image"
                    width="1024"
                    height="806"
                    loading="lazy"/>
                <img
                    srcset=" /assets/landing/cruefilms-banner@1024.webp 1024w, /assets/landing/cruefilms-banner.webp 1920w "
                    sizes="100vw"
                    src="/assets/landing/cruefilms-banner.webp"
                    alt="project-image"
                    width="1024"
                    height="806"
                    loading="lazy"/>
                <img
                    srcset=" /assets/landing/amparo-banner@1024.webp 1024w, /assets/landing/amparo-banner.webp 1920w "
                    sizes="100vw"
                    src="/assets/landing/amparo-banner.webp"
                    alt="project-image"
                    width="1024"
                    height="806"
                    loading="lazy"/>
            </div>
            <aside class="slider__min">
                <div class="slider__egg swiper cursor__egg st__image" data-attribute-pos="right">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                                srcset=" /assets/landing/madegood-project@340.webp 340w, /assets/landing/madegood-project@612.webp 612w,
                                    /assets/landing/madegood-project.webp 690w, /assets/landing/madegood-project@918.webp 918w "
                                sizes="(min-width: 1024px) 38vw, 85vw"
                                src="/assets/landing/madegood-project.webp"
                                alt="project-image"
                                width="690"
                                height="474"/>
                        </div>
                        <div class="swiper-slide">
                            <img
                                srcset=" /assets/landing/endurancebox-project@340.webp 340w, /assets/landing/endurancebox-project@612.webp 612w,
                                    /assets/landing/endurancebox-project.webp 690w, /assets/landing/endurancebox-project@918.webp 918w "
                                sizes="(min-width: 1024px) 38vw, 85vw"
                                src="/assets/landing/endurancebox-project.webp"
                                alt="project-image"
                                width="690"
                                height="474"
                                loading="lazy"/>
                        </div>
                        <div class="swiper-slide">
                            <img
                                srcset=" /assets/landing/cruefilms-project@340.webp 340w, /assets/landing/cruefilms-project@612.webp 612w,
                                    /assets/landing/cruefilms-project.webp 690w, /assets/landing/cruefilms-project@918.webp 918w "
                                sizes="(min-width: 1024px) 38vw, 85vw"
                                src="/assets/landing/cruefilms-project.webp"
                                alt="project-image"
                                width="690"
                                height="474"
                                loading="lazy"/>
                        </div>
                        <div class="swiper-slide">
                            <img
                                srcset=" /assets/landing/amparo-project@340.webp 340w, /assets/landing/amparo-project@612.webp 612w,
                                    /assets/landing/amparo-project.webp 690w, /assets/landing/amparo-project@918.webp 918w "
                                sizes="(min-width: 1024px) 38vw, 85vw"
                                src="/assets/landing/amparo-project.webp"
                                alt="project-image"
                                width="690"
                                height="474"
                                loading="lazy"/>
                        </div>
                    </div>
                </div>
                <div class="btn__small">Next</div>
            </aside>
            <div class="content">
                <div class="slider__title">
                    <h4 class="st__headline">MadeGood World</h4>
                    <h4>EnduranceBox</h4>
                    <h4>Cruefilms</h4>
                    <h4>Amparo Art</h4>
                </div>
                <div class="slider__info row">
                    <div class="col">
                        <span>Client</span>
                        <div class="display">
                            <p class="display__inner">
                                A digital production agency executing creative media projects
                            </p>
                            <p class="display__inner">
                                An endurance subscription box that propels athletes forward
                            </p>
                            <p class="display__inner">
                                A videography company based in the Washington DC area
                            </p>
                            <p class="display__inner">
                                An E-Commerce fine art platform selling original paintings
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <span>Services</span>
                        <div class="display">
                            <p class="display__inner">
                                Website Design, Website Development, Brand Messaging
                            </p>
                            <p class="display__inner">
                                Brand Identity, Packaging, Website Design, Copywriting
                            </p>
                            <p class="display__inner">
                                Digital Brand Identity, Website Design, Website Development
                            </p>
                            <p class="display__inner">
                                Brand Identity, Website Design, Website Development
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="label">
                <p class="subtitle">Featured Projects</p>
            </aside>
            <aside class="pagination">
                <span>(0<span class="display">
                        <span class="display__inner">1</span>
                        <span class="display__inner">2</span>
                        <span class="display__inner">3</span>
                        <span class="display__inner">4</span>
                    </span>
                    — 04)</span>
            </aside>
        </section>
        <section id="intro">
            <h4 class="st__headline--spread lg">
                Built by creatives, for creatives
            </h4>
            <div class="row areas mousecanvas">
                <div class="col">
                    <p class="subtitle">Industry footprint</p>
                    <div class="inner mousecanvas__hover">
                        <h4>
                            <span class="mousecanvas__hover--text cursor__hover --highlight">Art</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">architecture</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">commerce</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">fashion</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">food/drink</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">music</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">hospitality</span>,
                            <span class="mousecanvas__hover--text cursor__hover --highlight">video</span>
                        </h4>
                    </div>
                    <p>
                        We welcome clients from all industries who share our passion for creativity and
                        innovation.
                    </p>
                    <div class="btn__small cursor__hover --highlight anchor" data-attribute-scroll="form">
                        Get Started
                    </div>
                </div>
                <div class="col img-container mousecanvas__img-container" data-attribute-pos="right">
                    <img
                        srcset=" /assets/landing/industry-art@360.webp 360w, /assets/landing/industry-art.webp 407w "
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-art.webp"
                        alt="banner-image"
                        class="init st__image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"/>
                    <img
                        srcset="/assets/landing/industry-architecture.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-architecture.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                    <img
                        srcset="/assets/landing/industry-commerce.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-commerce.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                    <img
                        srcset="/assets/landing/industry-fashion.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-fashion.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                    <img
                        srcset="/assets/landing/industry-food.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-food.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                    <img
                        srcset="/assets/landing/industry-music.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-music.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                    <img
                        srcset="/assets/landing/industry-hospitality.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-hospitality.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                    <img
                        srcset="/assets/landing/industry-video.webp 407w"
                        sizes="(min-width: 1024px) 21vw, 50vw"
                        src="/assets/landing/industry-video.webp"
                        alt="banner-image"
                        data-attribute-pos="right"
                        width="407"
                        height="451"
                        loading="lazy"/>
                </div>
            </div>
        </section>
        <section id="testimonial" class="cursor__hover" data-attribute-text="next">
            <div class="st__line"></div>
            <div class="container st__text">
                <div class="inner img-container">
                    <div class="img-wrapper">
                        <div class="content__img active">
                            <img
                                srcset=" /assets/landing/testimonial-image__mgny.webp 307w, /assets/landing/testimonial-image__mgny@407.webp 407w "
                                sizes="(min-width: 1024px) 20vw, 50w"
                                src="/assets/landing/testimonial-image__mgny@407.webp"
                                alt="testimonial-image"
                                width="407"
                                height="481"/>
                            <span>MGNY Consulting</span>
                            <p>Yuri Geylik, CEO</p>
                        </div>
                        <div class="content__img">
                            <img
                                srcset=" /assets/landing/testimonial-image__finturity.webp 307w, /assets/landing/testimonial-image__finturity@407.webp
                                    407w "
                                sizes="(min-width: 1024px) 20vw, 50w"
                                src="/assets/landing/testimonial-image__finturity@407.webp"
                                alt="testimonial-image"
                                width="407"
                                height="481"
                                loading="lazy"/>
                            <span>Finturity</span>
                            <p>Sarah Burton, Founder</p>
                        </div>
                        <div class="content__img">
                            <img
                                srcset=" /assets/landing/testimonial-image__lumina.webp 307w, /assets/landing/testimonial-image__lumina@407.webp 407w "
                                sizes="(min-width: 1024px) 20vw, 50w"
                                src="/assets/landing/testimonial-image__lumina.webp"
                                alt="testimonial-image"
                                width="407"
                                height="481"
                                loading="lazy"/>
                            <span>Lumina Studio Theatre</span>
                            <p>Meg & Sophie, Directors</p>
                        </div>
                    </div>
                    <div class="btn__small cursor__hover --highlight">Next</div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="content">
                            <h4>
                                "Duo has a creative output that can rival any major design studio, with an added bonus of personalized attention and
                                lightning-fast communication."
                            </h4>
                        </div>
                        <div class="content">
                            <h4>
                                “Duo Studio brought my vision to life even better than I could have imagined. They were patient with me and made sure
                                everything was perfect.”
                            </h4>
                        </div>
                        <div class="content">
                            <h4>
                                “At each stage they brought us exciting options was a perfect reflection of our organization. They really care about the
                                uniqueness of our company.”
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq">
            <div class="row">
                <h4 class="lg st__headline">FAQ</h4>
                <div class="major">
                    <div class="container">
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    Who are we?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    Duo Studio is a full-service creative digital agency based in Washington DC, Maryland and Virginia. We specialize in
                                    helping businesses achieve their goals and connect with their audience through the power of design and brand strategy.
                                    From logo identity to website design and development, we offer a range of services that create thought-provoking digital
                                    experiences for businesses ready to make an impact.
                                </p>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    What makes Duo Studio stand out from other local marketing agencies?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    Duo Studio is a culture-forward and innovative digital agency that takes pride in keeping up with the latest trends and
                                    technologies, bringing this knowledge to every project we work on. Unlike traditional digital agencies in Washington DC,
                                    we approach things differently and consistently push the boundaries of what's possible in the digital landscape.<br/><br/>
                                    Our diverse team excels in all aspects of digital creation, allowing us to foster an ecosystem where strategy, design,
                                    and implementation work seamlessly in unison. We prioritize collaboration with our clients, considering them partners
                                    and involving them in our process from start to finish.
                                </p>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    What creative services do we offer?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    As a full-service digital agency, we offer a variety of services to set your brand apart from the
                                    competition.
                                    <strong>Website Design and Development
                                    </strong>
                                    We prioritize interactive website design and development, enhancing the user experience with dynamic motion. To pair
                                    with website creation, our team provides copywriting, SEO (Search Engine Optomization) and asset production services to
                                    ensure your brand is communicated effectively to your audience.
                                    <strong>Branding</strong>
                                    We specialize in crafting unique brand identities for businesses. This encompasses everything from logo design to
                                    comprehensive brand systems with color palettes, typography, and patterns. To ensure that your brand remains consistent
                                    across all touchpoints, we also create printed collateral such as business cards, packaging, and signage.
                                    <strong>Graphic Design</strong>
                                    We cover all areas of design including graphic design, digital design, marketing design, motion design, and
                                    illustration. We collaborate closely with our clients to develop a comprehensive collection of assets that tell the
                                    story of your brand.
                                </p>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    How much will it cost?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    We understand that every project is unique and requires a personalized approach. That's why we offer customized
                                    solutions tailored to your specific needs and goals. To better understand your project and provide you with an accurate
                                    estimate, we invite you to reach out to us for a detailed proposal. We'll work closely with you to ensure that we fully
                                    understand your requirements and deliverables, so that we can provide a comprehensive proposal that meets your needs and
                                    budget.
                                    <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">Contact us</span>
                                    today to get started on your project and let us help you bring your vision to
                                    life.
                                </p>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    What is your process?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    Our process is designed to ensure that we fully understand your business needs and goals. Here's a brief overview of the
                                    steps involved:
                                </p>
                                <ol>
                                    <li>
                                        <b>Onboarding.</b>
                                        We start by getting to know you and your business. We'll discuss your goals, budget, and timeline to ensure that we have
                                        a clear understanding of your needs, and introduce you to the Duo team. If you’re based in or around Washington DC, we’d
                                        love to meet you in person!
                                    </li>
                                    <li>
                                        <b>Research.</b>
                                        We'll conduct in-depth research to gain insights into your industry, competition, and target audience. We'll also learn
                                        more about your brand values and messaging to ensure that we create a cohesive digital marketing strategy that aligns
                                        with your brand.
                                    </li>
                                    <li>
                                        <b>Brand Strategy.</b>
                                        Based on our research and analysis, we'll develop a customized digital marketing strategy that aligns with your business
                                        goals. This may include content marketing, digital advertising, website optimization, and other tactics.
                                    </li>
                                    <li>
                                        <b>Design.</b>
                                        Once we have a solid brand strategy in place, we'll create digital designs that either showcase your brand identity or
                                        meet your digital marketing needs. This includes website development, website design, and digital branding.
                                    </li>
                                    <li>
                                        <b>Experience.</b>
                                        We'll bring your digital marketing strategy to life by crafting your interactive website or launching your marketing
                                        campaign. Our team will use digital advertising, content marketing, and other tactics to engage your target audience and
                                        achieve your business goals.
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    When should I rebrand my business?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    75% of companies have undergone a rebrand since 2020. Here are some reasons to consider
                                    it:
                                </p>
                                <ol>
                                    <li>
                                        Your current brand no longer represents your business: As your business evolves, your brand should evolve with it. If
                                        your current brand no longer accurately reflects your business values, services, or products, it might be time for a
                                        rebrand.
                                    </li>
                                    <li>
                                        Your target audience has changed: If your target audience has shifted or expanded, your brand should also adapt to
                                        connect with your new audience. This may involve repositioning your brand, updating your messaging, or refreshing your
                                        visual identity.
                                    </li>
                                    <li>
                                        You've outgrown your current brand: If your business has experienced significant growth or undergone major changes, your
                                        current brand may no longer be sufficient. A rebrand can help you create a brand that aligns with your current business
                                        goals and positions you for continued success.
                                    </li>
                                    <li>
                                        Your brand is outdated: If your brand looks old-fashioned or out of touch with current trends, it may be time for a
                                        refresh. A modern, updated brand can help you stay relevant and competitive in your industry.
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    Can you help rebrand my business?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    Our creative studio is excited to assist you with your rebranding journey! Our branding services cover all aspects of
                                    the process, including analyzing your current brand and market, developing a unique brand strategy, crafting a fresh
                                    brand identity (including logo, color palettes, typography, and more), and creating messaging that positions your brand
                                    effectively.<br/><br/>
                                    If you're located in Washington DC or the surrounding areas, our team's deep understanding of the local market, culture,
                                    and competition can give you a significant advantage. We're happy to offer in-person meetings and consultations to
                                    better understand your specific needs and create a customized approach.<br/><br/>
                                    <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">Reach out to us</span>
                                    to learn more about how our branding services can help you achieve your business
                                    goals.
                                </p>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    Can you provide examples of work?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    We understand the importance of seeing tangible results before making a decision. That's why we offer tailored examples
                                    of our work that are specifically relevant to your industry. We'd love to hear more about your specific needs and goals
                                    so we can provide you with customized examples that showcase our expertise in your industry.
                                    <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">Contact us</span>
                                    today to get started.<br/><br/>In the meantime, feel free to browse our portfolio of
                                    <a href="/work" class="cursor__hover --highlight">work</a>
                                    that showcases our digital creative services, including web design and development, brand identity, content marketing,
                                    and more. Check out our work here and contact us to learn more.
                                </p>
                            </div>
                        </div>
                        <div class="col st__text">
                            <div class="inner">
                                <h2 class="question cursor__hover --highlight">
                                    How can I get started?
                                </h2>
                            </div>
                            <div class="inner answer no-overflow expandable">
                                <p>
                                    Our team is dedicated to delivering creative solutions and services that help your business thrive, whether you're in
                                    Washington DC or beyond. We'd love to discuss your needs and help you achieve your goals. To get started, simply
                                    <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">send us a message</span>
                                    and we'll connect you with one of our experts. We're excited to hear from
                                    you!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="form" class="footer-spacer footer-trigger bg__trigger">
            <footer>
                <section>
                    <h4 class="lg st__headline">Introduce yourself</h4>
                    <div class="row">
                        <div class="col">
                            <div class="inner">
                                <span>General Inquiries</span>
                                <p>
                                    <a href="mailto:hello@duo-studio.co">hello@duo-studio.co</a>
                                </p>
                            </div>
                            <div class="inner">
                                <span>Phone</span>
                                <p>
                                    <a href="tel:+13014445447">(301) 444-5447</a>
                                </p>
                            </div>
                            <div class="inner">
                                <span>Follow Us</span>
                                <p>
                                    <a href="https://www.instagram.com/duostudio_co/" target="_blank" rel="noopener noreferrer">Instagram</a>,
                                    <a href="https://www.linkedin.com/company/duostudio" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                                </p>
                            </div>
                            <div class="inner">
                                <span>Main Hubs</span>
                                <p>DC, Maryland, Virginia</p>
                            </div>
                        </div>
                        <div class="col">
                            <form method="POST" name="creative-agency-dc" data-netlify="true">
                                <div class="wrapper">
                                    <h4>Dear Duo Studio,</h4>
                                    <div class="highlight"></div>
                                </div>
                                <label for="message" class="cursor__hover --highlight">
                                    <textarea type="text" name="message" id="message" required></textarea>
                                </label>
                                <div class="row">
                                    <label for="name" class="cursor__hover --highlight">
                                        <span>Name</span><input type="text" placeholder="First and Last Name" name="name" id="name" required/></label>
                                    <label for="email" class="cursor__hover --highlight">
                                        <span>Email</span><input type="text" placeholder="Email Address" name="email" id="email" required/></label>
                                    <button class="btn__circle">
                                        <div class="no-overflow">
                                            <div class="inner">
                                                <p>Send Inquiry</p>
                                                <p>Message Sent!</p>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
    </main>
</div>