@font-face {
  font-family: "PPMori-Regular";
  src: url("/assets/fonts/PPMori-Regular.woff2") format("woff2"),
    url("/assets/fonts/PPMori-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl-Book-WebS";
  src: url("/assets/fonts/SuisseIntl-Book-WebS.woff2") format("woff2"),
    url("/assets/fonts/SuisseIntl-Book-WebS.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl-Book-WebM";
  src: url("/assets/fonts/SuisseIntl-Book-WebM.woff") format("woff2"),
    url("/assets/fonts/SuisseIntl-Book-WebM.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl-Book-WebXL";
  src: url("/assets/fonts/SuisseIntl-Book-WebXL.woff2") format("woff2"),
    url("/assets/fonts/SuisseIntl-Book-WebXL.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
}
