---
layout: layouts/base.njk
eleventyComputed:
    title:{{ metadata.title }}
description: We are a creative collective that weaves together branding, strategy, and design to create thought-provoking digital experiences for businesses ready to make an impact.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="home" id="smooth-wrapper">
  <main id="smooth-content">
    <section id="banner">
      <div class="section__wrapper">
        <div class="content">
          <h1 class="top lg st__headline--spread --banner">
            A digital-first <br/>creative studio
          </h1>
          <p>Branding, websites and content marketing.</p>
          <p>Based in DC, working with clients worldwide.</p>
        </div>
        <div class="inner">
          <div class="promo">
            <video
              class="cursor__hover"
              width="1920"
              height="1080"
              src="/assets/home/Duo Reel--Desktop-reduced.mp4"
              playsinline
              muted
              loop
              autoplay></video>
            <video
              class="mobile"
              width="1080"
              height="720"
              src="/assets/home/Duo Reel--Mobile-reduced.mp4"
              playsinline
              muted
              loop
              autoplay></video>
            <aside>
              <p>Watch Showreel</p>
              <p class="subtitle">2020-2023</p>
            </aside>
          </div>
          <div class="mobile btn__small">
            <p>Play</p>
          </div>
        </div>
      </div>
    </section>
    <section id="intro">
      <div class="section__wrapper">
        <h2 class="st__text">
          <span>About Us</span>At Duo Studio, we have a relentless passion for crafting a broad range of personalized solutions, including:
        </h2>
        <div class="row">
          <div class="col">
            <div class="inner cursor__hover --highlight st__text">
              <h3>Branding</h3>
              <p>Logo + Identity System, Brand Strategy, Brand Messenging,  Brand Guidelines, Art Direction</p>
              <a href="/" class="btn__small --tag">Expand</a>
            </div>
            <div class="inner cursor__hover --highlight st__text">
              <h3>Websites</h3>
              <p>Web Design, Web Development, E-Commerce, Analytics / Tracking, API, CMS, CRM SEO
              </p>
              <a href="/" class="btn__small --tag">Expand</a>
            </div>
            <div class="inner cursor__hover --highlight st__text">
              <h3>Content</h3>
              <p>Content Strategy, Graphic Design, Package Design, Motion Graphics, Illustrations
              </p>
              <a href="/" class="btn__small --tag">Expand</a>
            </div>
            <a class="btn__small cursor__hover --highlight st__text" href="/services">
              <p>Learn More</p>
            </a>
          </div>
          <div class="col">
            <img
              srcset=" /assets/landing/brand-identity-mockup__creative-agency-dc.webp 500w "
              src="/assets/landing/brand-identity-mockup__creative-agency-dc.webp"
              sizes="(min-width: 1024px) 26vw, 88vw"
              alt="brand-identity-image"
              class="st__plax--inner"
              width="500"
              height="640"/>
          </div>
        </div>
      </div>
    </section>
    <section id="work">
      <div class="st__line"></div>
      <div class="section__wrapper">
        <div class="st__headline title">Featured work</div>
        <div class="card-container">
          <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/madegood">
            <div class="inner st__image" data-attribute-pos="right">
              <div class="img-wrapper">
                <video
                  src="/assets/home/projects_madegood-reduced.mp4"
                  width="720"
                  height="480"
                  playsinline
                  muted
                  loop
                  autoplay
                  preload="none"></video>
              </div>
              <div class="card-info">
                <h3>MadeGood</h3>
                <p class="subtitle">Brand Strategy, Website</p>
              </div>
            </div>
          </a>
          <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/mgny">
            <div class="inner st__image">
              <div class="img-wrapper st__plax">
                <img
                  src="/assets/home/home-casestudy-mgny.webp"
                  srcset="/assets/home/home-casestudy-mgny@420.webp 420w, /assets/home/home-casestudy-mgny@840.webp 840w,
                    /assets/home/home-casestudy-mgny.webp 960w "
                  sizes="(min-width: 1024px) 50vw, 80vw"
                  alt="project-image"
                  width="960"
                  height="664"
                  class="st__plax--inner"/>
              </div>
              <div class="card-info">
                <h3>MGNY</h3>
                <p class="subtitle">Brand Strategy, Website, Creative Direction, Illustration</p>
              </div>
            </div>
          </a>
          <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/finturity">
            <div class="inner st__image">
              <div class="img-wrapper st__plax">
                <img
                  src="/assets/home/home-casestudy-finturity.webp"
                  srcset="/assets/home/home-casestudy-finturity.webp 589w"
                  sizes="(min-width: 1024px) 30vw, 80vw"
                  alt="project-image"
                  width="589"
                  height="641"
                  class="st__plax--inner"/>
              </div>
              <div class="card-info">
                <h3>Finturity</h3>
                <p class="subtitle">Brand Strategy, Brand Identity, Website, Graphic Design</p>
              </div>
            </div>
          </a>
          <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/cruefilms">
            <div class="inner st__image" data-attribute-pos="right">
              <div class="img-wrapper">
                <video
                  src="/assets/home/projects_cruefilms-reduced.mp4"
                  width="720"
                  height="480"
                  playsinline
                  muted
                  loop
                  autoplay
                  preload="none"></video>
              </div>
              <div class="card-info">
                <h3>Cruefilms</h3>
                <p class="subtitle">Brand Strategy, Website</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <p class="st__text">Discover all works text here Discover all works text here Discover all works text here</p>
          <a class="btn__small st__text" href="/work">
            <p>See All Work</p>
          </a>
        </div>
      </div>
    </section>
    <section id="clients" class="bg__trigger">
      <div class="st__line"></div>
      <div class="row value">
        <div class="section__wrapper">
          <div class="title st__headline">
            We're obsessed with your success
          </div>
          <div class="content">
            <h2>Strategic Brilliance</h2>
            <p class="subtitle">We believe that a solid strategy is the foundation of any successful brand. Our team of strategists
              dives deep into understanding your business, target audience, and market dynamics to develop compelling strategies that
              set your brand apart from the competition. We leave no stone unturned in our quest to uncover the unique essence of your
              brand, ensuring that our solutions align perfectly with your objectives.</p>
            <a class="btn__small --tag cursor__hover --highlight" href="/contact">Start Your Project</a>
          </div>
        </div>
      </div>
      <header class="row">
        <div class="section__wrapper">
          <div class="st__line"></div>
          <div class="content">
            <div class="no-overflow cursor__hover --highlight st__headline">
              <h2>Mentions</h2>
              <h2>Mentions</h2>
            </div>
            <div class="no-overflow cursor__hover --highlight">
              <h2 class="st__headline">Clients</h2>
              <h2>Clients</h2>
            </div>
            <p class="toggle btn__small --tag cursor__hover --highlight">
              View
              <span class="display">
                <span class="display__inner">Clients</span>
                <span class="display__inner">Mentions</span>
              </span>
            </p>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="container__inner col -mentions cursor__hide">
          <a
            href="https://www.verizon.com/business/resources/customer-success-stories/duo-studio-small-traveling-business/"
            target="_blank"
            rel="noopener noreferrer"
            class="inner row st__text">
            <div class="row wrapper">
              <h3>Verizon</h3>
              <p>Small Business Feature</p>
              <p>2021</p>
            </div>
          </a>
          <a
            href="https://www.awwwards.com/sites/duo-studio-2"
            target="_blank"
            rel="noopener noreferrer"
            class="inner row st__text">
            <div class="row wrapper">
              <h3>Awwwards</h3>
              <p>Honorable Mention</p>
              <p>2023</p>
            </div>
          </a>
          <a
            href="https://www.awwwards.com/sites/duo-studio/mobile-excellence-report"
            target="_blank"
            rel="noopener noreferrer"
            class="inner row st__text">
            <div class="row wrapper">
              <h3>Awwwards</h3>
              <p>Mobile Excellence</p>
              <p>2020</p>
            </div>
          </a>
          <a
            href="https://mindsparklemag.com/website/duo-studio/"
            target="_blank"
            rel="noopener noreferrer"
            class="inner row st__text">
            <div class="row wrapper">
              <h3>Mindsparkle Mag</h3>
              <p>Site of the Day</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://orpetron.com/sites/duo-studio/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
            <div class="row wrapper">
              <h3>Orpetron</h3>
              <p>Site of the Day</p>
              <p>2020</p>
            </div>
          </a>
        </div>
        <div class="container__inner col -clients cursor__hide">
          <a href="https://amparoart.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
            <div class="row wrapper">
              <h3>Amparo</h3>
              <p>Art & E-Commerce</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://apolloxstill.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
            <div class="row wrapper">
              <h3>ApolloXstill</h3>
              <p>Cannabis & Hemp Extraction</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://cruefilms.co/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
            <div class="row wrapper">
              <h3>Cruefilms</h3>
              <p>Videography & Portfolio</p>
              <p>2021</p>
            </div>
          </a>
          <a href="https://www.finturity.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
            <div class="row wrapper">
              <h3>Finturity</h3>
              <p>Retirement Planning</p>
              <p>2022</p>
            </div>
          </a>
          <a href="https://www.gatapack.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
            <div class="row wrapper">
              <h3>GATAPACK</h3>
              <p>Face Masks, Survival Gear & E-Commerce</p>
              <p>2020</p>
            </div>
          </a>
          <p class="btn__small load-more st__text cursor__hover --highlight">
            Load More
          </p>
          <a href="https://www.genimexgroup.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Genimex</h3>
              <p>Contract Manufacturing</p>
              <p>2022</p>
            </div>
          </a>
          <a href="https://itllc.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Infinity Technology</h3>
              <p>Engineering Consulting</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://innercosmos.io/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Inner Cosmos</h3>
              <p>Neurotech Product</p>
              <p>2021</p>
            </div>
          </a>
          <a href="http://landrec.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Landrec</h3>
              <p>Playgrounds & E-Commerce</p>
              <p>2021</p>
            </div>
          </a>
          <a href="https://www.luminastudio.org/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Lumina Studio Theatre</h3>
              <p>Theatre & E-Commerce</p>
              <p>2021</p>
            </div>
          </a>
          <a href="https://madegood.world/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Made Good Co</h3>
              <p>Videography & Portfolio</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://miraclemaidsservices.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Miracle Maids</h3>
              <p>Commercial & Residential Cleaning</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://mgnyconsulting.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>MGNY Consulting</h3>
              <p>Real Estate Consultant</p>
              <p>2022</p>
            </div>
          </a>
          <a href="https://www.rankpay.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>RankPay</h3>
              <p>Digital Marketing</p>
              <p>2021</p>
            </div>
          </a>
          <a href="https://samatahealth.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Samata Health</h3>
              <p>Mental Health & SaaS</p>
              <p>2020</p>
            </div>
          </a>
          <a href="https://www.tiverbatim.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>TI Verbatim</h3>
              <p>Business Development</p>
              <p>2022</p>
            </div>
          </a>
          <a href="https://www.investuncommon.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
            <div class="row wrapper">
              <h3>Uncommon Capital Group</h3>
              <p>Real Estate Investment</p>
              <p>2020</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <div class="footer-spacer bg__trigger footer-trigger">
      <footer>
        <div class="row top">
          <h2 class="st__headline headline__footer lg">Let's create an experience as remarkable as your business</h2>
          <a class="btn__circle" href="/contact">
            <p>Get in Touch</p>
          </a>
        </div>
        <div class="row bottom">
          <div class="col">
            <h3>Don't miss out. Stay in the loop.</h3>
            <form method="POST" name="subscribe" data-netlify="true">
              <input type="email" placeholder="Your Email" name="email" id="email" required/>
              <button class="btn__small --tag cursor__hover --highlight">
                <div class="no-overflow">
                  <div class="inner">
                    <p>Subscribe</p>
                    <p>Subscribed!</p>
                  </div>
                </div>
              </button>
            </form>
          </div>
          <div class="col">
            <a href="mailto:hello@duo-studio.co">
              <h3>hello@duo-studio.co</h3>
            </a>
            <div class="row__inner">
              <div class="col__inner">
                <p>Main Hubs</p>
                <ul class="subtitle">
                  <li>DC</li>
                  <li>Maryland</li>
                  <li>Virginia</li>
                </ul>
              </div>
              <div class="col__inner">
                <p>Social</p>
                <ul class="subtitle">
                  <li>
                    <a
                      href="https://www.instagram.com/duostudio_co/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cursor__hover --highlight">Instagram</a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/company/duostudio/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cursor__hover --highlight">LinkedIn</a>
                  </li>
                  <li>
                    <a
                      href="https://www.facebook.com/duostudioco/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cursor__hover --highlight">Facebook</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright subtitle">
          &copy;2023 Duo Studio |
          <a class="cursor__hover --highlight" href="/privacy-policy">Privacy Policy</a>
        </div>
      </footer>
    </div>
  </main>
  <div class="client-images">
    <div class="client-images__mentions">
      <img
        srcset="/assets/home/home-mentions-verizon.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-verizon.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"/>
      <img
        srcset=" /assets/home/home-mentions-awwwards-honorablemention.webp 580w "
        sizes="30vw"
        src="/assets/home/home-mentions-awwwards-honorablemention.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"/>
      <img
        srcset="/assets/home/home-mentions-awwwards-mobile.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-awwwards-mobile.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"/>
      <img
        srcset="/assets/home/home-mentions-mindsparkle.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-mindsparkle.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"/>
      <img
        srcset="/assets/home/home-mentions-orpetron.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-orpetron.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"/>
      <img
        srcset="/assets/home/home-mentions-designrush.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-designrush.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"/>
    </div>
    <div class="client-images__clients">
      <img
        srcset="/assets/home/client-amparo.webp 580w"
        sizes="30vw"
        src="/assets/home/client-amparo.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-apollo.webp 580w"
        sizes="30vw"
        src="/assets/home/client-apollo.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-cruefilms.webp 580w"
        sizes="30vw"
        src="/assets/home/client-cruefilms.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-finturity.webp 580w"
        sizes="30vw"
        src="/assets/home/client-finturity.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-gata.webp 580w"
        sizes="30vw"
        src="/assets/home/client-gata.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-genimex.webp 580w"
        sizes="30vw"
        src="/assets/home/client-genimex.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-infinitytech.webp 580w"
        sizes="30vw"
        src="/assets/home/client-infinitytech.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-innercosmos.webp 580w"
        sizes="30vw"
        src="/assets/home/client-innercosmos.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-landrec.webp 580w"
        sizes="30vw"
        src="/assets/home/client-landrec.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-lumina.webp 580w"
        sizes="30vw"
        src="/assets/home/client-lumina.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-madegood.webp 580w"
        sizes="30vw"
        src="/assets/home/client-madegood.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-miraclemaids.webp 580w"
        sizes="30vw"
        src="/assets/home/client-miraclemaids.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-mgny.webp 580w"
        sizes="30vw"
        src="/assets/home/client-mgny.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-rankpay.webp 580w"
        sizes="30vw"
        src="/assets/home/client-rankpay.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-samatahealth.webp 580w"
        sizes="30vw"
        src="/assets/home/client-samatahealth.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-tiverbatim.webp 580w"
        sizes="30vw"
        src="/assets/home/client-tiverbatim.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
      <img
        srcset="/assets/home/client-uncommon.webp 580w"
        sizes="30vw"
        src="/assets/home/client-uncommon.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"/>
    </div>
  </div>
</div>