---
layout: layouts/base.njk
eleventyComputed:
    title: Work | {{ metadata.title }}
description: A collection of our case studies. View them and see what we can do for your brand.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="work" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="work">
            <header class="row">
                <h1 class="headline__load lg">All projects</h1>
                <div class="content">
                    <p class="subtitle">
                        <span class="count">006</span>
                        case studies
                    </p>
                    <p>
                        A sampling of our customized brand experiences. Take a peek at some of our results.
                    </p>
                </div>
            </header>
            <div class="card-container">
                <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/madegood">
                    <div class="inner st__image" data-attribute-pos="right">
                        <div class="img-wrapper">
                            <video
                                src="/assets/home/projects_madegood-reduced.mp4"
                                width="720"
                                height="480"
                                playsinline
                                muted
                                loop
                                autoplay
                                preload="none"></video>
                        </div>
                        <div class="card-info">
                            <h3>MadeGood</h3>
                            <p>Strategy, Website</p>
                        </div>
                    </div>
                </a>
                <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/mgny">
                    <div class="inner st__image">
                        <div class="img-wrapper st__plax">
                            <img
                                src="/assets/home/home-casestudy-mgny.webp"
                                srcset="/assets/home/home-casestudy-mgny@420.webp 420w, /assets/home/home-casestudy-mgny@840.webp 840w,
                                    /assets/home/home-casestudy-mgny.webp 960w "
                                sizes="(min-width: 1024px) 50vw, 80vw"
                                alt="project-image"
                                width="960"
                                height="664"
                                class="st__plax--inner"/>
                        </div>
                        <div class="card-info">
                            <h3>MGNY</h3>
                            <p>Website, Strategy, Illustration</p>
                        </div>
                    </div>
                </a>
                <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/finturity">
                    <div class="inner st__image">
                        <div class="img-wrapper st__plax">
                            <img
                                src="/assets/home/home-casestudy-finturity.webp"
                                srcset="/assets/home/home-casestudy-finturity.webp 525w"
                                sizes="(min-width: 1024px) 25vw, 80vw"
                                alt="project-image"
                                width="589"
                                height="641"
                                class="st__plax--inner"/>
                        </div>
                        <div class="card-info">
                            <h3>Finturity</h3>
                            <p>Identity, Strategy, Website, Marketing</p>
                        </div>
                    </div>
                </a>
                <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/cruefilms">
                    <div class="inner st__image" data-attribute-pos="right">
                        <div class="img-wrapper">
                            <video
                                src="/assets/home/projects_cruefilms-reduced.mp4"
                                width="720"
                                height="480"
                                playsinline
                                muted
                                loop
                                autoplay
                                preload="none"></video>
                        </div>
                        <div class="card-info">
                            <h3>Cruefilms</h3>
                            <p>Website</p>
                        </div>
                    </div>
                </a>
                <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/amparo">
                    <div class="inner st__image" data-attribute-pos="right">
                        <div class="img-wrapper st__plax">
                            <img
                                src="/assets/home/home-casestudy-amparo.webp"
                                srcset=" /assets/home/home-casestudy-amparo@580.webp 580w, /assets/home/home-casestudy-amparo.webp 760w "
                                sizes="(min-width: 1024px) 40vw, 80vw"
                                alt="project-image"
                                width="768"
                                height="531"
                                class="st__plax--inner"/>
                        </div>
                        <div class="card-info">
                            <h3>Amparo</h3>
                            <p>Identity, Website, Marketing</p>
                        </div>
                    </div>
                </a>
                <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/lumina">
                    <div class="inner st__image" data-attribute-pos="right">
                        <div class="img-wrapper st__plax">
                            <img
                                src="/assets/home/home-casestudy-lumina.webp"
                                srcset="/assets/home/home-casestudy-lumina.webp 768w"
                                sizes="(min-width: 1024px) 40vw, 80vw"
                                alt="project-image"
                                width="768"
                                height="531"
                                class="st__plax--inner"/>
                        </div>
                        <div class="card-info">
                            <h3>Lumina</h3>
                            <p>Website, Identity, E-commerce</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <div class="footer-spacer footer-trigger">
            <footer>
                <div class="grid">
                    <h4 class="st__headline headline__footer lg">Start a project</h4>
                    <a class="btn__circle" href="/contact">
                        <p>Get in Touch</p>
                    </a>
                    <h2>
                        Create an experience that’s as remarkable as your business.
                    </h2>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Main Hubs</span>
                        <p>DC, Maryland, Virginia</p>
                    </div>
                    <div class="col">
                        <span>General Inquiries</span>
                        <a href="mailto:hello@duo-studio.co" class="cursor__hover --highlight">hello@duo-studio.co</a>
                    </div>
                    <div class="col">
                        <span>Follow Us</span>
                        <div class="row">
                            <a
                                href="https://www.instagram.com/duostudio_co/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="cursor__hover --highlight">Instagram,</a>
                            <a
                                href="https://www.linkedin.com/company/duostudio/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="cursor__hover --highlight">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col copyright subtitle">
                        &copy;2023 Duo Studio
                        <a class="cursor__hover --highlight" href="/privacy-policy">Privacy Policy</a>
                    </div>
                </div>
            </footer>
        </div>
    </main>
</div>