<ul reversed class="entry">
    {% for post in postslist | reverse %}
        <li class="entry__item">
            <div class="st__line"></div>
            <a href="{{ post.url }}" class="entry__link cursor__hover --highlight">
                <div class="col">
                    {% if post.data.title %}
                        <h2>{{ post.data.title }}</h2>
                    {% endif %}
                    {% if post.data.category %}
                        <div class="btn__small --tag">
                            {{ post.data.category }}
                        </div>
                    {% endif %}
                </div>
                {% if post.data.thumbImage %}
                    {% set img =  post.data.thumbImage %}
                    {% image img, "featured-image" %}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>