---
layout: layouts/base.njk
eleventyComputed:
    title: Contact | {{ metadata.title }}
description: Ready to transform your brand? Let us know your challenges and we'll share how we can help.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="contact" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="main">
            <div class="row">
                <div class="col">
                    <h1 class="headline__load lg">Let’s reimagine what’s possible</h1>
                    <div class="row__inner">
                        <div class="col__inner">
                            <span>Follow Us</span>
                            <p>
                                <a href="https://www.instagram.com/duostudio_co/" target="_blank" rel="noopener noreferrer">Instagram</a>,
                                <a href="https://www.linkedin.com/company/duostudio" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                            </p>
                        </div>
                        <div class="col__inner">
                            <span>Phone</span>
                            <p>
                                <a href="tel:+13014445447">(301) 444-5447</a>
                            </p>
                        </div>
                        <div class="col__inner">
                            <span>General Inquiries</span>
                            <p>
                                <a href="mailto:hello@duo-studio.co">hello@duo-studio.co</a>
                            </p>
                        </div>
                        <div class="col__inner">
                            <span>Main Hubs</span>
                            <p>DC, Maryland, Virginia</p>
                        </div>
                    </div>
                </div>
                <div class="col" id="form">
                    <div class="st__line"></div>
                    <form method="POST" name="contact" data-netlify="true">
                        <div class="wrapper">
                            <h1>Dear Duo Studio,</h1>
                            <div class="highlight"></div>
                        </div>
                        <label for="message" class="cursor__hover --highlight for-textarea">
                            <textarea type="text" name="message" id="message" placeholder="Tell us about your company and how we can help" required></textarea>
                        </label>
                        <div class="row">
                            <div class="col__inner">
                                <label for="name" class="cursor__hover --highlight"><input type="text" placeholder="Your Name" name="name" id="name" required/>
                                </label>
                                <label for="email" class="cursor__hover --highlight"><input type="email" placeholder="Your Email" name="email" id="email" required/>
                                </label>
                            </div>
                            <button class="btn__circle">
                                <div class="no-overflow">
                                    <div class="inner">
                                        <p>Send Inquiry</p>
                                        <p>Message Sent!</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>