---
layout: layouts/base.njk
eleventyComputed:
  title: Services | {{ metadata.title }}
description: We provide branding, website and design services. See how we can help your business.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="services" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner">
            <div class="section__wrapper">
                <h1 class="lg headline__load">Creative websites &<br>
                        bold brands that connect</h1>
                    <img
                        srcset="/assets/services/services-banner@1080.webp 1080w "
                        src="/assets/services/services-banner.webp"
                        sizes="100vw"
                        alt="services-banner"
                        width="1920"
                        height="1184"/>
                </div>
            </section>
            <section id="services">
                <div class="section__wrapper">
                    <h2 class="st__text">
                        <span>Our Expertise</span>A DC Branding Agency with a relentless passion for crafting personalized digital design solutions.
                    </h2>
                    <div class="row plax__cols">
                        <div class="col">
                            <h2>Branding</h2>
                            <div class="st__plax">
                                <img
                                    srcset=" /assets/landing/strategy-mockup__creative-agency-dc.webp 500w "
                                    src="/assets/landing/strategy-mockup__creative-agency-dc.webp"
                                    sizes="(min-width: 1024px) 26vw, 88vw"
                                    alt="brand-strategy-image"
                                    class="st__plax--inner"
                                    width="500"
                                    height="640"/>
                            </div>
                            <p>
                                We transform the essence of your company into a tangible brand that looks, feels, speaks and moves. Our full-spectrum
                                approach guides the journey from brand strategy to the realization of a captivating logo design, identity systems, and
                                brand guidelines.
                            </p>
                            <a href="/services/branding-identity-system" class="btn__small cursor__hover --highlight">Learn More</a>
                        </div>
                        <div class="col">
                            <h2>Websites</h2>
                            <div class="st__plax">
                                <img
                                    srcset=" /assets/landing/brand-identity-mockup__creative-agency-dc.webp 500w "
                                    src="/assets/landing/brand-identity-mockup__creative-agency-dc.webp"
                                    sizes="(min-width: 1024px) 26vw, 88vw"
                                    alt="brand-identity-image"
                                    class="st__plax--inner"
                                    width="500"
                                    height="640"/>
                            </div>
                            <p>
                                Websites serve as the gateway to your company, and first impressions matter. From interactive portfolios to e-commerce
                                marketplaces, we combine unique web design and custom web development tailor-made for you and your audience.
                            </p>
                            <a href="/" class="btn__small cursor__hover --highlight">Learn More</a>
                        </div>
                        <div class="col">
                            <h2>Content</h2>
                            <div class="st__plax">
                                <img
                                    srcset="/assets/landing/content.webp 500w"
                                    src="/assets/landing/content.webp"
                                    sizes="(min-width: 1024px) 26vw, 88vw"
                                    alt="content-image"
                                    class="st__plax--inner"
                                    width="500"
                                    height="640"/>
                            </div>
                            <p>
                                There’s no limit to how you market your company and what your brand can do. With our art direction and team’s diverse
                                skills, see your company's vision come alive through print and digital graphic design, illustration, and motion
                                graphics.
                            </p>
                            <a href="/" class="btn__small cursor__hover --highlight">Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="process" class="bg__trigger--custom">
                <div class="section__wrapper">
                    <div class="title st__headline">
                        A branding process that guarantees your success&nbsp;
                    </div>
                    <div class="progress btn__small --tag">
                        001
                        <div class="space"></div>
                        005
                    </div>
                    <div class="row horizontal">
                        <div class="col">
                            <h2>Onboarding</h2>
                            <p class="subtitle">We believe that a solid strategy is the foundation of any successful brand. Our team of strategists
                                dives deep into understanding your business, target audience, and market dynamics to develop compelling strategies that
                                set your brand apart from the competition.</p>
                        </div>
                        <div class="col">
                            <h2>Discovery</h2>
                            <p class="subtitle">We believe that a solid strategy is the foundation of any successful brand. Our team of strategists
                                dives deep into understanding your business, target audience, and market dynamics to develop compelling strategies that
                                set your brand apart from the competition.</p>
                        </div>
                        <div class="col">
                            <h2>Strategy</h2>
                            <p class="subtitle">We believe that a solid strategy is the foundation of any successful brand. Our team of strategists
                                dives deep into understanding your business, target audience, and market dynamics to develop compelling strategies that
                                set your brand apart from the competition.</p>
                        </div>
                        <div class="col">
                            <h2>Experience</h2>
                            <p class="subtitle">We believe that a solid strategy is the foundation of any successful brand. Our team of strategists
                                dives deep into understanding your business, target audience, and market dynamics to develop compelling strategies that
                                set your brand apart from the competition.</p>
                        </div>
                        <div class="col">
                            <h2>Offboarding</h2>
                            <p class="subtitle">We believe that a solid strategy is the foundation of any successful brand. Our team of strategists
                                dives deep into understanding your business, target audience, and market dynamics to develop compelling strategies that
                                set your brand apart from the competition.</p>
                        </div>
                        <div class="progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="why" class="cursor__hover" data-attribute-text="click">
                <div class="section__wrapper">
                    <div class="row">
                        <div class="col">
                            <div class="title">What we do</div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque nulla quo autem odio excepturi error, vitae
                                consequatur exercitationem praesentium ratione?</p>
                        </div>
                        <div class="col">
                            <div class="title">Why we do it</div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque nulla quo autem odio excepturi error, vitae
                                consequatur exercitationem praesentium ratione?</p>
                        </div>
                        <div class="mask">
                            <img
                                srcset=" /assets/studio/studio__services--research.webp 463w "
                                sizes="(min-width: 1024px) 24vw, 88vw"
                                src="/assets/studio/studio__services--research.webp"
                                alt="services-image"
                                width="463"
                                height="576"
                                class="st__plax--inner"/>
                            <img
                                srcset=" /assets/studio/studio__services--identity.webp 463w "
                                sizes="(min-width: 1024px) 24vw, 88vw"
                                src="/assets/studio/studio__services--identity.webp"
                                alt="services-image"
                                width="463"
                                height="576"
                                class="st__plax--inner"/>
                        </div>
                    </div>
                </div>
            </section>
            <section id="testimonial">
                <div class="section__wrapper">
                    <div class="content">
                        <h2 class="st__text">Duo has a creative output that can rival any major design studio</h2>
                        <p class="st__text">“I’ve worked with Duo Studio on multiple projects. They delivered best in class designs and
                            development capabilities each and every time! Sonia, Dat, and the entire team at Duo never ceases to amaze me and my
                            partners with their down-to-earth attitude, reliability, and quality of work. To top that off, Duo has a creative output
                            that can rival any major design studio, with an added bonus of personalized attention and lightning-fast communication.
                            I highly recommend Duo Studio as a strategic partner for your next design project."</p>
                        <p class="subtitle st__text">MGNY Consulting<br>Yuri Geylik</p>
                        </div>
                    </div>
                </section>
                <div class="footer-spacer footer-trigger">
                    <footer>
                        <div class="row top">
                            <h2 class="st__headline headline__footer lg">Let's create an experience as remarkable as your business</h2>
                            <a class="btn__circle" href="/contact">
                                <p>Get in Touch</p>
                            </a>
                        </div>
                        <div class="row bottom">
                            <div class="col">
                                <h3>Don't miss out. Stay in the loop.</h3>
                                <form method="POST" name="subscribe" data-netlify="true">
                                    <input type="email" placeholder="Your Email" name="email" id="email" required="required"/>
                                    <button class="btn__small --tag cursor__hover --highlight">
                                        <div class="no-overflow">
                                            <div class="inner">
                                                <p>Subscribe</p>
                                                <p>Subscribed!</p>
                                            </div>
                                        </div>
                                    </button>
                                </form>
                            </div>
                            <div class="col">
                                <a href="mailto:hello@duo-studio.co">
                                    <h3>hello@duo-studio.co</h3>
                                </a>
                                <div class="row__inner">
                                    <div class="col__inner">
                                        <p>Main Hubs</p>
                                        <ul class="subtitle">
                                            <li>DC</li>
                                            <li>Maryland</li>
                                            <li>Virginia</li>
                                        </ul>
                                    </div>
                                    <div class="col__inner">
                                        <p>Social</p>
                                        <ul class="subtitle">
                                            <li>
                                                <a
                                                    href="https://www.instagram.com/duostudio_co/"
                                                    target="_blank"
                                                    rel="noopener noreferrer"
                                                    class="cursor__hover --highlight">Instagram</a>
                                            </li>
                                            <li>
                                                <a
                                                    href="https://www.linkedin.com/company/duostudio/"
                                                    target="_blank"
                                                    rel="noopener noreferrer"
                                                    class="cursor__hover --highlight">LinkedIn</a>
                                            </li>
                                            <li>
                                                <a
                                                    href="https://www.facebook.com/duostudioco/"
                                                    target="_blank"
                                                    rel="noopener noreferrer"
                                                    class="cursor__hover --highlight">Facebook</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright subtitle">
                            &copy;2023 Duo Studio |
                            <a class="cursor__hover --highlight" href="/privacy-policy">Privacy Policy</a>
                        </div>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</div>