---
layout: layouts/base.njk
title: Duo Studio — A Digital Marketing Agency in Washington DC
description: We're now serving the Washington DC area. Let us know how we can help your branding or website.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="landing" id="smooth-wrapper">
    <nav class="anchors">
        <ul>
            <li>
                <a href="/">
                    <img src="/assets/logo.svg" alt="logo" width="52" height="35"/>
                </a>
            </li>
            <li class="anchor" data-attribute-scroll="banner">Meet Duo</li>
            <li class="anchor" data-attribute-scroll="services">Services</li>
            <li class="anchor" data-attribute-scroll="featured">Work</li>
            <li class="anchor" data-attribute-scroll="testimonial">
                Testimonials
            </li>
            <li class="anchor" data-attribute-scroll="faq">FAQ</li>
            <li class="egg"></li>
        </ul>
    </nav>
    <div class="btn__small cursor__hover --highlight anchor" data-attribute-scroll="form">
        Contact Us
    </div>
    <main id="smooth-content" class="mkt">
        <section id="banner">
            <div class="row">
                <div class="col major">
                    <img
                        srcset=" /assets/landing/digital-marketing-agency-dc__banner@720.webp 720w,
                            /assets/landing/digital-marketing-agency-dc__banner.webp 960w "
                        sizes="(min-width: 1024px) 50vw, 100vw"
                        src="/assets/landing/digital-marketing-agency-dc__banner.webp"
                        alt="studio-image"
                        class="st__image"
                        width="960"
                        height="834"/>
                </div>
                <div class="col minor">
                    <span>Meet Duo Studio</span>
                    <h1 class="headline__load">
                        A digital marketing agency based in Washington, DC
                    </h1>
                    <div class="btn__small cursor__hover --highlight anchor" data-attribute-scroll="form">
                        Contact Us
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col content st__text">
                    <h3>The visionary force behind remarkable companies</h3>
                    <p>
                        Duo Studio crafts bold digital marketing experiences and brands for clients in the Washington, DC area. Our design
                        philosophy is driven by a passion for strategic problem-solving, with an unwavering focus on the growth and success of
                        our clients. Together, we collaborate alongside firms and organizations with a shared vision of producing results that
                        inspire, challenge and motivate. At Duo, we transform brands into a compelling stories that move the hearts and minds of
                        many. Start your transformation today.
                    </p>
                </div>
                <div class="col">
                    <div class="st__image-container">
                        <img
                            src="/assets/landing/intro-image__marketing-agency-dc.webp"
                            srcset="
                                										/assets/landing/intro-image__marketing-agency-dc.webp 500w
                                									"
                            sizes="(min-width: 1024px) 26vw, 60vw"
                            alt="studio-image"
                            class="st__image"
                            loading="lazy"
                            width="500"
                            height="583"
                            data-attribute-pos="right"/>
                    </div>
                </div>
            </div>
        </section>
        <section id="services" class="bg__trigger">
            <div class="row">
                <h1 class="st__headline">
                    Empowering your brand’s story through strategy, design & content marketing
                </h1>
                <div class="btn__circle anchor" data-attribute-scroll="form">
                    <p>Contact Us</p>
                </div>
            </div>
            <div class="row">
                <div class="st__image col">
                    <div class="img-wrapper">
                        <img
                            srcset="
                                										/assets/landing/marketing-strategy__digital-agency-dc.webp 500w
                                									"
                            src="/assets/landing/marketing-strategy__digital-agency-dc.webp"
                            sizes="(min-width: 1024px) 26vw, 72vw"
                            alt="marketing-strategy-image"
                            width="500"
                            height="519"/>
                    </div>
                    <div class="content">
                        <h3>Digital Marketing Strategy</h3>
                        <p>
                            At the epicenter of every successful project lies a robust brand research and digital marketing strategy plan. Through
                            immersive collaborative exploration, we take a deep-dive into your business, your audience, and market to define a
                            roadmap that inspires action.
                        </p>
                    </div>
                </div>
                <div class="st__image col">
                    <div class="img-wrapper">
                        <img
                            srcset="
                                										/assets/landing/web-design-development__digital-agency-dc.webp 500w
                                									"
                            src="/assets/landing/web-design-development__digital-agency-dc.webp"
                            sizes="(min-width: 1024px) 26vw, 72vw"
                            alt="web-design-development-image"
                            width="500"
                            height="519"/>
                    </div>
                    <div class="content">
                        <h3>Web design & development</h3>
                        <p>
                            We don’t just build beautiful websites; we create growth-driven digital experiences that put people first. Every
                            element, from search engine optimization (SEO) to content marketing, is fine-tuned to ensure your customers an immersive
                            journey from their first click.
                        </p>
                    </div>
                </div>
                <div class="st__image col">
                    <div class="img-wrapper">
                        <img
                            srcset="
                                										/assets/landing/brand-identity__digital-agency-dc.webp 500w
                                									"
                            src="/assets/landing/brand-identity__digital-agency-dc.webp"
                            sizes="(min-width: 1024px) 26vw, 72vw"
                            alt="brand-identity-image"
                            width="500"
                            height="519"/>
                    </div>
                    <div class="content">
                        <h3>Branding & Identity</h3>
                        <p>
                            Through the harmonious balance of empathy and strategy, we transform business values into brand identities. Our
                            full-spectrum approach to branding captures the spirit of your company, depicted through logo design, digital messaging,
                            and design systems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row industries">
                <div class="st__line"></div>
                <div class="col">
                    <h4 class="st__headline">Our Industry Footprint</h4>
                </div>
                <div class="col">
                    <div class="inner">
                        <h3>Finance</h3>
                        <p>
                            We collaborate closely with our finance clients to create digitally branded solutions that personify the complexity of
                            the financial world.
                        </p>
                    </div>
                    <div class="inner">
                        <h3>Real Estate</h3>
                        <p>
                            From affordable housing or high-end property real estate, Duo creates exceptional brand experiences that showcase our
                            client’s selling points.
                        </p>
                    </div>
                    <div class="inner">
                        <h3>Retail</h3>
                        <p>
                            Whether you’re a small DC business or a global powerhouse, we deliver custom solutions that inspire your consumers to
                            make their purchase.
                        </p>
                    </div>
                    <div class="inner">
                        <h3>Consulting</h3>
                        <p>
                            We equip our consulting clients with marketing tools and effective strategies that enable them to focus on what they do
                            best: setting up their clients for success.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="cta">
            <div class="row">
                <div class="col">
                    <img
                        srcset="/assets/landing/duo-studio__cta--florence.webp 545w"
                        sizes="(min-width: 1024px) 28vw, 100vw"
                        src="/assets/landing/duo-studio__cta--florence.webp"
                        alt="studio-image"
                        class="st__image"
                        width="545"
                        height="612"/>
                </div>
                <div class="col">
                    <h1 class="st__headline">
                        Create an experience that’s as remarkable as your business.
                    </h1>
                    <div class="btn__small cursor__hover --highlight anchor" data-attribute-scroll="form">
                        Get Started
                    </div>
                </div>
            </div>
        </section>
        <section id="featured">
            <header>
                <h4 class="st__headline">Selected Projects</h4>
                <p>A sampling of our customized brand experiences.</p>
            </header>
            <div class="swiper slider__draggable cursor__hover" data-attribute-text="drag">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img
                            srcset=" /assets/landing/mockup-finturity@465.webp 465w, /assets/landing/mockup-finturity.webp 530w "
                            sizes="(min-width: 1024px) 27vw, 64vw"
                            src="/assets/landing/mockup-finturity.webp"
                            alt="project-image"
                            width="530"
                            height="579"/>
                        <div class="content">
                            <h3>Finturity</h3>
                            <p>Industry: Finance</p>
                            <p>
                                Services: Branding, Brand Guidelines, Web Design, Web
                                										Development, Graphic Design
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            srcset=" /assets/landing/mockup-genimex@465.webp 465w, /assets/landing/mockup-genimex.webp 530w "
                            sizes="(min-width: 1024px) 27vw, 64vw"
                            src="/assets/landing/mockup-genimex.webp"
                            alt="project-image"
                            width="530"
                            height="579"/>
                        <div class="content">
                            <h3>Genimex</h3>
                            <p>Industry: Manufacturing</p>
                            <p>
                                Services: Brand Strategy, Messaging, Web Design, Web
                                										Development
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            srcset=" /assets/landing/mockup-housingline@465.webp 465w, /assets/landing/mockup-housingline.webp 530w "
                            sizes="(min-width: 1024px) 27vw, 64vw"
                            src="/assets/landing/mockup-housingline.webp"
                            alt="project-image"
                            width="530"
                            height="579"/>
                        <div class="content">
                            <h3>Housing Line</h3>
                            <p>Industry: Real-Estate</p>
                            <p>
                                Services: Brand Identity, Brand Guidelines, Web Design, Web
                                										Development
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            srcset=" /assets/landing/mockup-tiverbatim@465.webp 465w, /assets/landing/mockup-tiverbatim.webp 530w "
                            sizes="(min-width: 1024px) 27vw, 64vw"
                            src="/assets/landing/mockup-tiverbatim.webp"
                            alt="project-image"
                            width="530"
                            height="579"/>
                        <div class="content">
                            <h3>TI Verbatim</h3>
                            <p>Industry: Consulting</p>
                            <p>
                                Services: Brand Strategy, Brand Messaging, Web Design, Web
                                										Development, Motion Design, Illustration
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            srcset=" /assets/landing/mockup-fitclub@465.webp 465w, /assets/landing/mockup-fitclub.webp 530w "
                            sizes="(min-width: 1024px) 27vw, 64vw"
                            src="/assets/landing/mockup-fitclub.webp"
                            alt="project-image"
                            width="530"
                            height="579"/>
                        <div class="content">
                            <h3>The Fitness Club</h3>
                            <p>Industry: Fitness</p>
                            <p>Services: Brand Identity, Web Design, Web Development</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            srcset=" /assets/landing/mockup-mgny@465.webp 465w, /assets/landing/mockup-mgny.webp 530w "
                            sizes="(min-width: 1024px) 27vw, 64vw"
                            src="/assets/landing/mockup-mgny.webp"
                            alt="project-image"
                            width="530"
                            height="579"/>
                        <div class="content">
                            <h3>MGNY</h3>
                            <p>Industry: Real-Estate</p>
                            <p>
                                Services: Brand Strategy, Illustration, Web Design, Web
                                										Development
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonial" class="cursor__hover" data-attribute-text="Read Next">
            <div class="st__line"></div>
            <div class="row">
                <div class="col">
                    <div class="inner">
                        <img src="/assets/landing/mgny-logo.png" alt="mgny-logo"/>
                        <img src="/assets/landing/mgny-logo__light.png" alt="mgny-logo" class="light"/>
                        <span>MGNY Consulting</span>
                        <p>Yuri Geylik, CEO</p>
                    </div>
                    <div class="inner">
                        <img src="/assets/landing/finturity-logo.png" alt="finturity-logo"/>
                        <img src="/assets/landing/finturity-logo__light.png" alt="finturity-logo" class="light"/>
                        <span>Finturity</span>
                        <p>Sarah Burton, Founder</p>
                    </div>
                    <div class="inner">
                        <img src="/assets/landing/lumina-logo.png" alt="lumina-logo" class="lumina"/>
                        <img src="/assets/landing/lumina-logo__light.png" alt="lumina-logo" class="light lumina"/>
                        <span>Lumina Studio Theatre</span>
                        <p>Meg & Sophie, Executive Directors</p>
                    </div>
                    <div class="mobile btn__small cursor__hover --highlight">
                        <p>Read Next</p>
                    </div>
                </div>
                <div class="col">
                    <div class="content">
                        <h2>
                            “I’ve worked with Duo Studio on multiple projects. They delivered best in class designs and development capabilities
                            each and every time! Sonia, Dat, and the entire team at Duo never ceases to amaze me and my partners with their
                            down-to-earth attitude, reliability, and quality of work.
                        </h2>
                        <h2>
                            To top that off, Duo has a creative output that can rival any major design studio, with an added bonus of personalized
                            attention and lightning-fast communication.
                        </h2>
                        <h2>
                            I highly recommend Duo Studio as a strategic partner for your
                            									next design project.”
                        </h2>
                    </div>
                    <div class="content">
                        <h2>
                            "Duo Studio brought my vision to life even better than I could have imagined. They were patient with me and made sure
                            everything was perfect. They have a team of extremely talented individuals. I felt well taken care of and that they
                            truly cared about the outcome and that I was happy with the results. I would 100% hire them again and recommend their
                            services."
                        </h2>
                    </div>
                    <div class="content">
                        <h2>
                            "We had an absolutely fantastic experience with Duo Studio designing our website! We wanted something that looked
                            professional and was user-friendly while also expressing our organization’s uniqueness and creativity, and Duo delivered
                            above and beyond our expectations. At each stage they brought us exciting options that felt like a perfect reflection of
                            our organization. They really seemed to care about the uniqueness of our company and the service we provide as a
                            nonprofit.
                        </h2>
                        <h2>
                            Since we launched the site, Duo has been quick to respond and easy to communicate with when we have a problem or
                            question. We could not ask for a more creative, efficient, and responsive team to work with on our website - they have
                            our highest recommendation!"
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq" class="bg__trigger">
            <h4 class="st__headline">Frequently Asked Questions</h4>
            <div class="container">
                <div class="col">
                    <div class="inner">
                        <h2 class="question">Who are we?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            Duo Studio is a full-service digital marketing agency based in Washington DC, Maryland and Virginia. We specialize in
                            helping businesses achieve their goals and connect with their audience through the power of design and brand strategy.
                            From logo identity to website design and development, we offer a range of services that create thought-provoking digital
                            experiences for businesses ready to make an impact.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">
                            What makes Duo Studio stand out from other local marketing agencies?
                        </h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            Duo Studio is a culture-forward and innovative digital agency that takes pride in keeping up with the latest trends and
                            technologies, bringing this knowledge to every project we work on. Unlike traditional digital agencies in Washington DC,
                            we approach things differently and consistently push the boundaries of what's possible in the digital landscape.<br/><br/>
                            Our diverse team excels in all aspects of digital creation, allowing us to foster an ecosystem where strategy, design,
                            and implementation work seamlessly in unison. We prioritize collaboration with our clients, considering them partners
                            and involving them in our process from start to finish.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">What services do we offer?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            As a full-service digital agency, we offer a variety of services to set your brand apart from the
                            competition.
                            <strong>Website Design and Development
                            </strong>
                            We prioritize interactive website design and development, enhancing the user experience with dynamic motion. To pair
                            with website creation, our team provides copywriting, SEO (Search Engine Optomization) and asset production services to
                            ensure your brand is communicated effectively to your audience.
                            <strong>Branding</strong>
                            We specialize in crafting unique brand identities for businesses. This encompasses everything from logo design to
                            comprehensive brand systems with color palettes, typography, and patterns. To ensure that your brand remains consistent
                            across all touchpoints, we also create printed collateral such as business cards, packaging, and signage.
                            <strong>Graphic Design</strong>
                            We cover all areas of design including graphic design, digital design, marketing design, motion design, and
                            illustration. We collaborate closely with our clients to develop a comprehensive collection of assets that tell the
                            story of your brand.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">How much will it cost?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            We understand that every project is unique and requires a personalized approach. That's why we offer customized
                            solutions tailored to your specific needs and goals. To better understand your project and provide you with an accurate
                            estimate, we invite you to reach out to us for a detailed proposal. We'll work closely with you to ensure that we fully
                            understand your requirements and deliverables, so that we can provide a comprehensive proposal that meets your needs and
                            budget.
                            <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">Contact us</span>
                            today to get started on your project and let us help you bring
                            									your vision to life.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">What is your process?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            Our process is designed to ensure that we fully understand your business needs and goals. Here's a brief overview of the
                            steps involved:
                        </p>
                        <ol>
                            <li>
                                <b>Onboarding.</b>
                                We start by getting to know you and your business. We'll discuss your goals, budget, and timeline to ensure that we have
                                a clear understanding of your needs, and introduce you to the Duo team. If you’re based in or around Washington DC, we’d
                                love to meet you in person!
                            </li>
                            <li>
                                <b>Research.</b>
                                We'll conduct in-depth research to gain insights into your industry, competition, and target audience. We'll also learn
                                more about your brand values and messaging to ensure that we create a cohesive digital marketing strategy that aligns
                                with your brand.
                            </li>
                            <li>
                                <b>Brand Strategy.</b>
                                Based on our research and analysis, we'll develop a customized digital marketing strategy that aligns with your business
                                goals. This may include content marketing, digital advertising, website optimization, and other tactics.
                            </li>
                            <li>
                                <b>Design.</b>
                                Once we have a solid brand strategy in place, we'll create digital designs that either showcase your brand identity or
                                meet your digital marketing needs. This includes website development, website design, and digital branding.
                            </li>
                            <li>
                                <b>Experience.</b>
                                We'll bring your digital marketing strategy to life by crafting your interactive website or launching your marketing
                                campaign. Our team will use digital advertising, content marketing, and other tactics to engage your target audience and
                                achieve your business goals.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">When should I rebrand my business?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            75% of companies have undergone a rebrand since 2020. Here are
                            									some reasons to consider it:
                        </p>
                        <ol>
                            <li>
                                Your current brand no longer represents your business: As your business evolves, your brand should evolve with it. If
                                your current brand no longer accurately reflects your business values, services, or products, it might be time for a
                                rebrand.
                            </li>
                            <li>
                                Your target audience has changed: If your target audience has shifted or expanded, your brand should also adapt to
                                connect with your new audience. This may involve repositioning your brand, updating your messaging, or refreshing your
                                visual identity.
                            </li>
                            <li>
                                You've outgrown your current brand: If your business has experienced significant growth or undergone major changes, your
                                current brand may no longer be sufficient. A rebrand can help you create a brand that aligns with your current business
                                goals and positions you for continued success.
                            </li>
                            <li>
                                Your brand is outdated: If your brand looks old-fashioned or out of touch with current trends, it may be time for a
                                refresh. A modern, updated brand can help you stay relevant and competitive in your industry.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">Can you help rebrand my business?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            Our creative studio is excited to assist you with your rebranding journey! Our branding services cover all aspects of
                            the process, including analyzing your current brand and market, developing a unique brand strategy, crafting a fresh
                            brand identity (including logo, color palettes, typography, and more), and creating messaging that positions your brand
                            effectively.<br/><br/>
                            If you're located in Washington DC or the surrounding areas, our team's deep understanding of the local market, culture,
                            and competition can give you a significant advantage. We're happy to offer in-person meetings and consultations to
                            better understand your specific needs and create a customized approach.<br/><br/>
                            <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">Reach out to us</span>
                            to learn more about how our branding services can help you
                            									achieve your business goals.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">Can you provide examples of work?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            We understand the importance of seeing tangible results before making a decision. That's why we offer tailored examples
                            of our work that are specifically relevant to your industry. We'd love to hear more about your specific needs and goals
                            so we can provide you with customized examples that showcase our expertise in your industry.
                            <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">Contact us</span>
                            today to get started.<br/><br/>In the meantime, feel free to
                            									browse our portfolio of
                            <a href="/work" class="cursor__hover --highlight">work</a>
                            that showcases our digital creative services, including web design and development, brand identity, content marketing,
                            and more. Check out our work here and contact us to learn more.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="inner">
                        <h2 class="question">How can I get started?</h2>
                    </div>
                    <div class="inner answer no-overflow expandable">
                        <p>
                            Our team is dedicated to delivering creative solutions and services that help your business thrive, whether you're in
                            Washington DC or beyond. We'd love to discuss your needs and help you achieve your goals. To get started, simply
                            <span class="anchor cursor__hover --highlight" data-attribute-scroll="form">send us a message</span>
                            and we'll connect you with one of our experts. We're excited
                            									to hear from you!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="form" class="bg__dark">
            <div class="row">
                <header>
                    <h4 class="st__headline">Let's reimagine what's possible</h4>
                </header>
                <img
                    src="/assets/landing/contact-image.webp"
                    srcset="/assets/landing/contact-image.webp 375w"
                    sizes="(min-width: 1024px) 23vw, 100vw"
                    class="st__image"
                    alt="contact-image"
                    data-attribute-pos="right"
                    width="375"
                    height="321"/>
            </div>
            <h2 class="st__text">
                If you’re looking to make an impact, introduce yourself.
            </h2>
            <form method="POST" name="marketing-agency-dc" data-netlify="true">
                <label for="name" class="input-wrapper st__text cursor__hover --highlight">
                    <span>Name</span><input type="text" placeholder="Name" name="name" id="name" required/></label>
                <label for="email" class="input-wrapper st__text cursor__hover --highlight">
                    <span>Email</span><input type="text" placeholder="Email" name="email" id="email" required/></label>
                <label for="company" class="input-wrapper st__text cursor__hover --highlight">
                    <span>Company</span><input type="text" placeholder="Company" name="company" id="company"/></label>
                <label for="message" class="input-wrapper st__text cursor__hover --highlight">
                    <span>Message</span>
                    <textarea type="text" placeholder="Message" name="message" id="message" required></textarea>
                </label>
                <button class="btn__circle">
                    <div class="no-overflow">
                        <div class="inner">
                            <p>Send Inquiry</p>
                            <p>Message Sent!</p>
                        </div>
                    </div>
                </button>
            </form>
        </section>
        <footer>
            <div class="st__line"></div>
            <div class="col">
                <span>Main Hubs</span>
                <p>DC, Maryland, Virginia</p>
            </div>
            <div class="col">
                <span>General Inquiries</span>
                <a href="mailto:hello@duo-studio.co" class="cursor__hover --highlight">hello@duo-studio.co</a>
            </div>
            <div class="col">
                <span>Follow Us</span>
                <div class="row">
                    <a
                        href="https://www.instagram.com/duostudio_co/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="cursor__hover --highlight">Instagram,
                    </a>&nbsp;
                    <a
                        href="https://www.linkedin.com/company/duostudio/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="cursor__hover --highlight">
                        LinkedIn</a>
                </div>
            </div>
            <div class="col">
                <span>Phone</span>
                <a href="tel:+13014445447">(301) 444-5447</a>
            </div>
            <div class="col copyright subtitle">
                &copy;2023 Duo Studio
                <a class="cursor__hover --highlight" href="/privacy-policy">Privacy Policy</a>
            </div>
        </footer>
    </main>
</div>