@import "imports/variables";

* {
	margin: 0;
	padding: 0;
}
body {
	background: #fefcff;
	font-family: "Manrope", sans-serif;
	text-align: center;
}

nav {
	display: flex;
	align-items: center;
	padding: 1rem 24px;
	margin-bottom: 4rem;
	font-size: 14px;
	@media screen and (max-width: 599px) {
		font-size: 12px;
	}
	.logo {
		display: block;
		margin-right: auto;
		width: 40px;
		height: auto;
		@media screen and (max-width: 599px) {
			width: 35px;
		}
	}
	a {
		margin-left: 24px;
		color: $color-black;
		@media screen and (max-width: 599px) {
			margin-left: 12px;
		}
		&.btn__small {
			text-decoration: none;
			color: $color-black;
			text-align: center;
			display: flex !important;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			font-family: $font-suisse;
			font-size: 12px;
			background: $color-pink;
			color: $color-black;
			border-radius: 100px;
			padding: 0.5em 1.5em;
		}
	}
}

.o--Widget--displayMode-light,
.o--Widget--widget.o--Widget--displayMode-auto {
	background: #fefcff !important;
}

// .o--Widget--widgetBody {
//   padding-top: 0 !important;
//   margin: 0 !important;
// }
