@import "imports/variables";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;

	&:focus,
	&:active {
		outline: none !important;
	}
}

html,
body {
	font-family: $font-ppmori;
	background: $color-white;
	font-size: calc(max(15px, 0.834vw));
	line-height: 1.3;

	@media screen and (max-width: $mobile-breakpoint) {
		font-size: 14px;
	}
}

body {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
body::-webkit-scrollbar {
	display: none;
}

h1,
.h1,
h4 {
	font-weight: 400;
	letter-spacing: -0.045em;
	font-size: 4.167vw;
	line-height: 1;
	text-transform: uppercase;
	@media screen and (max-width: $mobile-breakpoint) {
		font-size: calc(min(32px, 7.445vw));
	}
	&.lg {
		font-size: 8.334vw;
		line-height: 0.96;
		text-transform: initial;
		letter-spacing: -0.03em;
		@media screen and (max-width: $mobile-breakpoint) {
			font-size: calc(min(4rem, 10.55vw));
		}
	}
	&.xl {
		font-size: 18vw;
	}
}

h2,
h3 {
	font-weight: 400;
	font-family: $font-suisse-r;
}

h2 {
	font-size: calc(max(20px, 1.35vw));
	line-height: 1.3;
	letter-spacing: -0.02em;
	@media screen and (max-width: $mobile-breakpoint) {
		font-size: calc(min(16px, 4.445vw));
	}
}

h3 {
	font-size: calc(max(20px, 1.35vw));
	line-height: 1.3;
	letter-spacing: -0.02em;
	@media screen and (max-width: $mobile-breakpoint) {
		font-size: calc(min(16px, 4.445vw));
	}
}

ul {
	li {
		list-style: none;
	}
}

ol {
	padding-bottom: $mobile-gutter;
	margin-top: 1rem;
	li {
		&:not(:last-of-type) {
			margin-bottom: 1rem;
		}
	}
}

p {
	font-family: $font-ppmori;
	font-size: calc(max(15px, 0.834vw));
	line-height: 1.3;

	@media screen and (max-width: $mobile-breakpoint) {
		font-size: 14px;
	}

	&.bold {
		font-family: $font-suisse;
	}
}

span,
.subtitle {
	font-size: 12px;
	font-family: $font-suisse;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: inherit;

	&.u-link {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: -1px;
			height: 1px;
			width: 100%;
		}
	}
}
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	user-select: none;
	pointer-events: none;
	transform-origin: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;
	transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
		opacity 0.2s ease-in-out, border-radius 0.2s ease-in-out,
		padding 0.2s ease-in-out;
	background: $color-pink;
	border-radius: 600px;
	mix-blend-mode: difference;
	span {
		opacity: 0;
		transition: opacity 0.2s 0s ease-in-out;
	}

	body.cursor__hidden & {
		display: none;
	}

	body.cursor__hover & {
		width: auto;
		height: auto;
		padding: 0.2em 0.8em;

		span {
			opacity: 1;
			transition: opacity 0.2s 0.1s ease-in-out;
		}
	}
	body.cursor__hover--highlight & {
		width: 35px;
		height: 35px;
		padding: 0;
	}

	@media (hover: none) {
		display: none;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		display: none;
	}
}

.cursor__hover {
	cursor: pointer;
}
#smooth-wrapper {
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	&.loading {
		overflow: hidden;
		&::before {
			content: "";
			position: fixed;
			z-index: 99999;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $color-white;
		}
	}
	.client-images {
		position: fixed;
		top: 0;
		left: 0;
		width: 30vw;
		z-index: 4;
		pointer-events: none;

		@media screen and (max-width: $mobile-breakpoint) {
			display: none;
		}
		&__mentions {
			display: block;
		}
		&__clients {
			display: none;
		}
		img {
			opacity: 0;
			transition: opacity 0.2s;

			object-fit: cover;
			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		body.init__clients & {
			&__mentions {
				display: none;
			}
			&__clients {
				display: block;
			}
		}
	}
	@for $i from 1 through 20 {
		body.cursor__image.init__#{$i} & {
			.client-images {
				img {
					&:nth-child(#{$i}) {
						opacity: 1;
					}
				}
			}
		}
	}
	body.--project & {
		&.loading {
			&::before {
				content: unset;
			}
		}
	}
}

#smooth-content {
	overflow: visible;
	width: 100%;
	> section {
		z-index: 2;
		position: relative;
	}
}
nav {
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem 2rem;
	width: 100%;
	z-index: 10;
	text-transform: uppercase;
	color: $color-white;
	font-family: $font-suisse;
	font-size: calc(max(14px, 0.834vw));
	transition: color 0.2s ease-out, height 0s ease-in-out,
		background 0s ease-in-out;
	mix-blend-mode: difference;
	@media screen and (max-width: $mobile-breakpoint) {
		padding: $mobile-gutter;
		height: calc(36px + #{$mobile-gutter});
		color: $color-black;
		overflow: hidden;
		body.init__nav & {
			height: 100%;
			background: $color-pink;
			mix-blend-mode: unset;
			transition: color 0.2s ease-out, height 0s ease-in-out,
				background 0s ease-in-out;
		}
	}
	ul {
		display: flex;
		align-items: center;

		@media screen and (max-width: $mobile-breakpoint) {
			flex-direction: column;
			position: relative;
			height: 100%;
			padding-top: 24px;
		}
		li {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0.5em;
				right: 0.5em;
				bottom: 0.05em;
				margin: auto;
				height: 1px;
				width: 0;
				background: $color-white;
				transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
				@media screen and (max-width: $mobile-breakpoint) {
					background: $color-black;
					bottom: 0.15em;
				}
			}
			&:first-of-type {
				margin-right: auto;
				width: 2.2vw;
				min-width: 35px;

				@media screen and (max-width: $mobile-breakpoint) {
					position: absolute;
					top: 0;
					left: 0;
					transition: mix-blend-mode 0.2s ease-in-out;
					body.init__nav & {
						mix-blend-mode: difference;
					}
				}
				a {
					display: flex;
					position: relative;

					img {
						transition: opacity 0.2 ease-out;
					}
				}
			}

			//HOME
			&:nth-child(2) {
				@media screen and (max-width: $mobile-breakpoint) {
					margin-top: auto;
				}
			}

			&.nav-item {
				@media screen and (max-width: $mobile-breakpoint) {
					font-size: calc(min(36px, 11.445vw));
					font-family: $font-ppmori;
					opacity: 0;
					transform: translateY(10%);
					transition: opacity 0s, transform 0s;

					body.init__nav & {
						opacity: 1;
						transform: translateY(0%);
						@for $i from 0 through 5 {
							&:nth-child(#{$i}) {
								transition: opacity 0.4s #{(0.05s * $i) + 0.1} ease-in-out,
									transform 0.4s #{(0.05s * $i) + 0.1} ease-in-out;
							}
						}
					}
				}
				a {
					display: block;
					padding: 0 0.5em;
					transition: color 0.2s ease-in-out;
					@media screen and (max-width: $mobile-breakpoint) {
						padding: 0.1em 0.5em;
					}
				}
			}

			&.egg {
				margin-left: auto;
				width: 52px;
				@media screen and (max-width: $mobile-breakpoint) {
					margin: 0 auto auto;
					width: auto;
					font-size: calc(min(36px, 11.445vw));
					font-family: $font-ppmori;
					opacity: 0;
					transform: translateY(10%);
					transition: opacity 0s 0s, transform 0s 0s;
					body.init__nav & {
						opacity: 1;
						transform: translateY(0);
						transition: opacity 0.4s 0.4s ease-in-out,
							transform 0.4s 0.4s ease-in-out;
					}
				}
				a {
					width: 17px;
					height: 17px;
					background: $color-white;
					display: block;
					border-radius: 50%;
					margin-left: auto;
					transition: 0.2s ease-out;
					color: transparent;

					@media screen and (max-width: $mobile-breakpoint) {
						width: auto;
						height: auto;
						background: transparent;
						border-radius: 0;
						padding: 0.1em 0.5em;
						color: inherit;
					}
					&:before {
						content: "";
						right: 0;
						top: 0;
						width: 17px;
						height: 17px;
						display: block;
						position: absolute;
						border-radius: 50%;
						background: $color-white;
						transform: translateX(-50%);
						opacity: 0;
						transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
							background 0.2s ease-out;

						@media screen and (max-width: $mobile-breakpoint) {
							content: unset;
						}
					}

					&:hover {
						&::before {
							transform: translateX(-100%);
							opacity: 1;
						}
					}
				}
			}

			&.active {
				pointer-events: none;

				&:not(.egg) {
					&:before {
						width: calc(100% - 1em);
					}
				}

				@media screen and (max-width: $mobile-breakpoint) {
					&:before {
						width: calc(100% - 1.2em) !important;
					}
				}
			}
		}
		> .row {
			@media screen and (max-width: $mobile-breakpoint) {
				display: flex;
				flex-direction: row;
				width: 100%;
				margin-top: 24px;
				opacity: 0;
				transform: translateY(10%);
				transition: opacity 0s 0s, transform 0s 0s;
				padding: 0 1rem;
				body.init__nav & {
					opacity: 1;
					transform: translateY(0);
					transition: opacity 0.4s 0.45s ease-in-out,
						transform 0.4s 0.45s ease-in-out;
				}
				.col {
					&:nth-child(1) {
						margin-right: $mobile-gutter;
					}
					.row {
						flex-direction: row;
					}
					a {
						text-transform: initial;
						margin-right: 0.2em;
					}
				}
			}
		}
		.nav-toggle {
			display: none;
			@media screen and (max-width: $mobile-breakpoint) {
				position: absolute;
				mix-blend-mode: difference;
				right: -1em;
				top: calc(-1em + 3px);
				padding: 1em;
				height: 43px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.line {
					height: 1px;
					width: 25px;
					background: $color-white;
					transform-origin: center;
					&:nth-child(2) {
						margin: 6px 0;
					}

					body.init__nav & {
						&:nth-child(1) {
							transform: rotate(45deg);
						}
						&:nth-child(2) {
							margin: -1px 0;
							opacity: 0;
						}
						&:nth-child(3) {
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
	}
}

.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(237, 191, 255, 0.85);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	z-index: 8;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out;
	@media screen and (max-width: $mobile-breakpoint) {
		display: none;
	}
	body.init__nav & {
		opacity: 1;
		pointer-events: initial;
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		display: flex;
		align-items: center;

		h1 {
			color: $color-black;
		}

		&.active {
			opacity: 1;
		}
	}
}

.nav-marquee {
	overflow: hidden;
	width: 100%;
	&__container {
		display: flex;
		justify-content: flex-start;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-shrink: 0;

		> .h1 {
			flex-shrink: 0;
			margin: 0 1vw;
		}
	}
}

// HOMEPAGE
#smooth-wrapper[data-barba-namespace="home"] {
	#banner {
		height: auto;
		padding-top: calc(calc(#{$spacer * 1.5} + #{$nav-spacer}));
		z-index: 3;
		@media screen and (max-width: $mobile-breakpoint) {
			padding-top: calc(calc(#{$mobile-spacer * 2} + #{$nav-spacer}));
		}

		.top {
			text-align: center;
			color: $color-white;
			mix-blend-mode: difference;
			margin: 0 auto;
			overflow: visible;
			text-align: center;

			@media screen and (max-width: $mobile-breakpoint) {
				width: 95%;
				max-width: 35rem;
			}

			.line__outer {
				transform: translateX(-15vw);
				@media screen and (max-width: $mobile-breakpoint) {
					transform: translateX(0);
				}
				&:nth-child(2) {
					transform: translateX(10vw);
					@media screen and (max-width: $mobile-breakpoint) {
						transform: translateX(0);
					}
				}
			}
		}

		.inner {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			margin-top: $spacer;
			position: relative;
			z-index: -1;
			padding: 0 2em;
			font-size: 14px;
			@media screen and (max-width: $mobile-breakpoint) {
				padding: 0;
				margin: $mobile-spacer auto 0;
				max-width: 35rem;
				height: 90vh;
				min-height: 400px;
			}

			.row {
				align-items: center;
				justify-content: space-between;
				width: 62%;
				margin: 0 auto 0.5em;
				@media screen and (max-width: $mobile-breakpoint) {
					margin-bottom: 0.5rem;
					.subtitle {
						margin-top: 0.2rem;
					}
				}
			}
			.promo {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(0.6);
				transform-origin: top center;
				margin: 0 auto;
				&.mobile {
					display: none;
				}
				@media screen and (max-width: $mobile-breakpoint) {
					display: none;
					&.mobile {
						display: block;
						height: 60%;
					}
				}
			}

			.btn__small {
				display: none;
				@media screen and (max-width: $mobile-breakpoint) {
					display: block;
					position: absolute;
					left: 50%;
					bottom: $mobile-gutter;
					transform: translateX(-50%);
					pointer-events: none;
				}
			}
		}
	}

	#intro {
		padding: #{$spacer + 15vw} 0 0;

		@media screen and (max-width: $mobile-breakpoint) {
			padding: calc(#{$mobile-spacer} + 22vh) 0 0;
		}
		> h1 {
			padding: 0 $gutter;
			br {
				display: none;
			}
			@media screen and (max-width: $mobile-breakpoint) {
				padding: 0 $mobile-gutter;
				br {
					display: block;
				}
			}
		}
		.row {
			position: relative;
			width: 100%;
			justify-content: space-between;
			padding: #{$spacer * 1.5} 9% $spacer $gutter;
			@media screen and (max-width: $mobile-breakpoint) {
				padding: #{$mobile-spacer * 2} $mobile-gutter;
				max-width: 45rem;
			}
			h1 {
				margin-bottom: 0.5em;
				@media screen and (max-width: $mobile-breakpoint) {
					width: 100%;
				}
			}

			.col {
				&:nth-child(1) {
					width: 36vw;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 100%;
						max-width: 38rem;
					}
				}

				&:nth-child(2) {
					width: 19vw;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 100%;
						align-items: flex-start;
					}
					.btn__small {
						margin-top: 2rem;
					}
				}
			}
		}
	}
}

//WORK
#smooth-wrapper[data-barba-namespace="work"] {
	#work {
		padding: calc(calc(#{$spacer * 1.5} + #{$nav-spacer})) 0 #{$spacer * 1.5};

		@media screen and (max-width: $mobile-breakpoint) {
			padding: #{$mobile-spacer * 2} 0;
		}
		header {
			align-items: center;
			padding: 0 $gutter 0 #{$gutter / 2};
			@media screen and (max-width: $mobile-breakpoint) {
				padding: 0;
			}
			.content {
				width: 14vw;
				min-width: 245px;
				padding-left: 2em;
				margin-left: auto;
				@media screen and (max-width: $mobile-breakpoint) {
					padding: 0;
					margin: $mobile-gutter auto 0;
					text-align: center;
					min-width: 220px;
				}
				.subtitle {
					margin-bottom: 1em;
					@media screen and (max-width: $mobile-breakpoint) {
						margin-bottom: 0.5em;
					}
				}
			}
		}
		.card-container {
			margin-top: 4em;
			.card {
				cursor: pointer;
				display: block;
				@media screen and (max-width: $mobile-breakpoint) {
					max-width: 20rem;
				}
				&:nth-child(5n + 1) {
					width: 28%;
					margin: 0 1% 0 auto;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 80%;
						margin: 0 $mobile-gutter 0 auto;
					}
					.img-wrapper {
						padding-top: 81%;
					}
				}
				&:nth-child(5n + 2) {
					width: 40%;
					margin: -10% auto 0 12%;
					@media screen and (max-width: $mobile-breakpoint) {
						margin: #{$mobile-spacer * 2} auto 0 0;
						width: 80%;
						.card-info {
							margin-left: $mobile-gutter;
						}
					}
					.img-wrapper {
						padding-top: 68%;
					}
				}
				&:nth-child(5n + 3) {
					width: 25%;
					margin: 0 6% 0 auto;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 80%;
						margin: $mobile-spacer 0 0 auto;
					}
					.img-wrapper {
						padding-top: 108%;
					}
				}
				&:nth-child(5n + 4) {
					width: 35%;
					margin: -20vw auto 0 $gutter;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 80%;
						margin: 0 auto 0 0;
					}
					.img-wrapper {
						padding-top: 70%;
					}
				}

				&:nth-child(5n + 5) {
					width: 35%;
					margin: 0 0 0 auto;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 80%;
						margin: $mobile-spacer 0 $mobile-spacer auto;
					}
					.img-wrapper {
						padding-top: 70%;
					}
				}

				&:nth-child(5n + 6) {
					width: 30%;
					margin: -15vw auto 0 $spacer;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 80%;
						margin: 0 auto 0 $mobile-gutter;
					}
					.img-wrapper {
						padding-top: 70%;
					}
				}

				.img-wrapper {
					position: relative;
					overflow: hidden;

					img,
					video {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						object-fit: cover;
						transition: transform 0.2s ease-out, filter 0.2s ease-out;
					}
					video {
						height: 100%;
					}
				}

				&:hover {
					.img-wrapper {
						img,
						video {
							transform: scale(1.05);
							filter: blur(3px);
						}
					}
				}
				.card-info {
					display: flex;
					align-items: center;
					padding: 1em 0;
					h3 {
						margin-right: 1em;
						margin-top: -0.05em;
					}
				}

				&:nth-child(even) {
					.card-info {
						justify-content: flex-end;
					}
				}
			}
		}
	}
}

//CONTACT
#smooth-wrapper[data-barba-namespace="contact"] {
	#main {
		> .row {
			min-height: 100vh;
			@media screen and (max-width: $mobile-breakpoint) {
				flex-direction: column;
			}
			.col {
				width: 50%;
				padding: calc(calc(#{$mobile-spacer * 2} + #{$nav-spacer})) 4vw 4vw;

				@media screen and (max-width: $mobile-breakpoint) {
					width: 100%;
				}
				&:nth-child(1) {
					border-right: 1px solid $color-black;
					padding-bottom: 7vw;
					@media screen and (max-width: $mobile-breakpoint) {
						padding: calc(calc(#{$mobile-spacer * 2} + #{$nav-spacer}))
							$mobile-gutter $mobile-gutter;
						z-index: 1;
					}

					h1 {
						line-height: 1;
						@media screen and (max-width: $mobile-breakpoint) {
							max-width: 30rem;
						}
						> .line__outer {
							&:not(:first-child) {
								margin-top: -0.1em;
								@media screen and (max-width: $mobile-breakpoint) {
									margin-top: -0.05em;
								}
							}
						}
					}
					.row__inner {
						display: flex;
						margin-top: auto;
						padding-top: 2rem;
						width: 100%;
						.col__inner {
							&:not(:last-child) {
								margin-right: 1.5vw;
							}
						}

						@media screen and (max-width: $mobile-breakpoint) {
							position: absolute;
							left: 0;
							bottom: 0;
							padding: $mobile-gutter;
							flex-wrap: wrap;
							border-top: 1px solid $color-black;

							.col__inner {
								width: 50%;
								flex-shrink: 0;
								padding-right: 0.5rem;
								margin: 0.5rem 0 0 0 !important;
							}
						}
					}
				}

				&:nth-child(2) {
					position: relative;

					@media screen and (max-width: $mobile-breakpoint) {
						padding: $mobile-gutter 0 180px;
					}
					.st__line {
						display: none;
						@media screen and (max-width: $mobile-breakpoint) {
							display: block;
						}
					}

					form {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						height: 100%;
						.wrapper {
							position: relative;
							display: flex;
							white-space: nowrap;
							overflow: hidden;
							margin-bottom: $mobile-gutter;
							flex-shrink: 0;
							@media screen and (max-width: $mobile-breakpoint) {
								margin-left: $mobile-gutter;
							}
							.highlight {
								height: 3.5vw;
								width: 1px;
								background: $color-black;
								position: absolute;
								top: 4px;
								right: 0;
								@media screen and (max-width: $mobile-breakpoint) {
									height: 7.4vw;
									top: 2px;
								}
							}
						}

						label {
							width: 100%;
							&.for-textarea {
								display: block;
								textarea {
									height: 100%;
									min-height: 250px;
									@extend h3;
									&::placeholder {
										opacity: 0;
										transition: opacity 0.2s ease-in-out;
									}

									&.loaded {
										&::placeholder {
											opacity: 0.25;
										}
									}
									@media screen and (max-width: $mobile-breakpoint) {
										padding: 0 $mobile-gutter;
										min-height: 150px;
									}
								}
							}
						}

						.row {
							width: 100%;
							align-items: center;
							margin-top: auto;
							padding-top: 2rem;

							.col__inner {
								margin: auto;
								width: 60%;
								@media screen and (max-width: $mobile-breakpoint) {
									width: 100%;
								}
								label {
									border-bottom: 1px solid $color-black;
									padding: 5px 0;
									display: block;
									width: 100%;
									margin: 1rem 0 0;
									input {
										font-size: 16px;
										&::placeholder {
											opacity: 0.25;
										}
									}

									@media screen and (max-width: $mobile-breakpoint) {
										padding: 1em $mobile-gutter;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.footer-spacer {
		display: none;
	}
}
