---
layout: layouts/base.njk
eleventyComputed:
    title: Studio | {{ metadata.title }}
description: We work with brands looking to stand out by crafting them unique digital experiences.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="studio" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner">
            <h1 class="headline__load">Digitally-driven,<br>
                    always human made</h1>
                <p>A DC branding agency est. in 2020</p>
                <p>
                    We’re a small and mighty team fixated on your brand’s success. From start, to success, to afterwards. Our mission is to
                    help brands build a future where design and code are integral to their success, and where their digital presence becomes
                    a digital destination. To do this, we provide an environment in which our team can explore the limits of their
                    creativity using innovative technologies and the power of empathy to build something unique, stunning, resonant and
                    meaningful.
                </p>
            </section>
            <section id="full-image" class="full-height">
                <img
                    srcset=" /assets/studio/studio-image__major@1024.webp 1024w, /assets/studio/studio-image__major.webp 1920w "
                    sizes="100vw"
                    src="/assets/studio/studio-image__major.webp"
                    alt="intro-image"
                    width="1920"
                    height="1310"/>
                <div class="title st__headline">Rooted in our purpose of creating work that inspires</div>
            </section>
            <section id="values" class="services-features bg__trigger">
                <div class="section__wrapper">
                    <div class="row">
                        <div class="col">
                            <h2>Our Values</h2>
                        </div>
                        <div class="col">
                            <div class="inner">
                                <span class="btn__small --tag">001</span>
                                <h3>Results Driven By Collaboration</h3>
                                <div class="row__inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod luctus sagittis. Fusce vel mauris dolor. Nulla
                                        facilisi. Suspendisse potenti. Integer pharetra, lacus id tincidunt congue, lectus sem consectetur sem, ut scelerisque
                                        magna odio non diam.</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">002</span>
                                <h3>Results Driven By Collaboration</h3>
                                <div class="row__inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod luctus sagittis. Fusce vel mauris dolor. Nulla
                                        facilisi. Suspendisse potenti. Integer pharetra, lacus id tincidunt congue, lectus sem consectetur sem, ut scelerisque
                                        magna odio non diam.</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">003</span>
                                <h3>Results Driven By Collaboration</h3>
                                <div class="row__inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod luctus sagittis. Fusce vel mauris dolor. Nulla
                                        facilisi. Suspendisse potenti. Integer pharetra, lacus id tincidunt congue, lectus sem consectetur sem, ut scelerisque
                                        magna odio non diam.</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">004</span>
                                <h3>Results Driven By Collaboration</h3>
                                <div class="row__inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod luctus sagittis. Fusce vel mauris dolor. Nulla
                                        facilisi. Suspendisse potenti. Integer pharetra, lacus id tincidunt congue, lectus sem consectetur sem, ut scelerisque
                                        magna odio non diam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="join">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="lg st__headline title">
                        Translating ideas into immersive solutions
                    </div>
                    <div class="row">
                        <div class="col">
                            <img
                                srcset=" /assets/studio/studio__intro-image--1@325.webp 325w, /assets/studio/studio__intro-image--1.webp 570w "
                                sizes="(min-width: 1024px) 30vw, 45vw"
                                src="/assets/studio/studio__intro-image--1.webp"
                                alt="intro-image"
                                width="570"
                                height="705"
                                class="st__image--spread"/>
                        </div>
                        <div class="col">
                            <h2>Built by creatives,<br>
                                    for creatives</h2>
                                <p class="subtitle">
                                    This is where hard data and targeted creativity merge to build brands that rise over the rest. Because “good enough”
                                    isn’t something we say here. Instead, our diverse team at Duo Studio sees each new project as an opportunity to discover
                                    new limits in what’s possible. Together with you as our partner, we’ll take your organization to its true potential.
                                </p>
                                <a href="mailto:jobs@duo-studio.co" class="btn__small --tag cursor__hover --highlight">Join Our Team</a>
                            </div>
                            <div class="col">
                                <img
                                    srcset=" /assets/studio/studio__intro-image--2@325.webp 325w, /assets/studio/studio__intro-image--2.webp 570w "
                                    sizes="(min-width: 1024px) 30vw, 45vw"
                                    src="/assets/studio/studio__intro-image--2.webp"
                                    alt="intro-image"
                                    width="570"
                                    height="705"
                                    class="st__image--spread"/>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="team">
                    <div class="section__wrapper">
                        <div class="st__line"></div>
                        <div class="container full-height">
                            <header class="row">
                                <h2 class="st__headline">The people of Duo</h2>
                                <div class="pagination">
                                    <div class="scrollbar-container">
                                        <div class="scrollbar">
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                    <span class="cursor__hover --highlight switch">Switch</span>
                                </div>
                            </header>
                            <div class="row horizontal">
                                <div class="col">
                                    <div class="no-overflow">
                                        <img
                                            srcset="/assets/studio/Sonia_Polyzos--1.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Sonia_Polyzos--1.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                        <img
                                            srcset="/assets/studio/Sonia_Polyzos--2.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Sonia_Polyzos--2.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                    </div>
                                    <div class="team-info">
                                        <h3>Sonia Polyzos</h3>
                                        <p>Creative Director & Co-Founder</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="no-overflow">
                                        <img
                                            srcset="/assets/studio/Melody_Sahar-Khiz--1.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Melody_Sahar-Khiz--1.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                        <img
                                            srcset="/assets/studio/Melody_Sahar-Khiz--2.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Melody_Sahar-Khiz--2.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                    </div>
                                    <div class="team-info">
                                        <h3>Melody Sahar-Khiz</h3>
                                        <p>Digital Strategist</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="no-overflow">
                                        <img
                                            srcset="/assets/studio/Isak_Shah--1.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Isak_Shah--1.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                        <img
                                            srcset="/assets/studio/Isak_Shah--2.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Isak_Shah--2.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                    </div>
                                    <div class="team-info">
                                        <h3>Isak Shah</h3>
                                        <p>Illustrator</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="no-overflow">
                                        <img
                                            srcset="/assets/studio/Florence_Wang--1.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Florence_Wang--1.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                        <img
                                            srcset="/assets/studio/Florence_Wang--2.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Florence_Wang--2.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                    </div>
                                    <div class="team-info">
                                        <h3>Florence Wang</h3>
                                        <p>Brand Designer</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="no-overflow">
                                        <img
                                            srcset="/assets/studio/Dat_Nguyen--1.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Dat_Nguyen--1.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                        <img
                                            srcset="/assets/studio/Dat_Nguyen--2.webp 450w"
                                            sizes="(min-width: 1024px) 24vw, 58vw"
                                            src="/assets/studio/Dat_Nguyen--2.webp"
                                            alt="team-image"
                                            width="450"
                                            height="579"
                                            loading="lazy"/>
                                    </div>
                                    <div class="team-info">
                                        <h3>Dat Nguyen</h3>
                                        <p>Developer & Co-Founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="footer-spacer footer-trigger">
                    <footer>
                        <div class="grid">
                            <h4 class="st__headline headline__footer lg">Start a project</h4>
                            <a class="btn__circle" href="/contact">
                                <p>Get in Touch</p>
                            </a>
                            <h2>
                                Create an experience that’s as remarkable as your business.
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Main Hubs</span>
                                <p>DC, Maryland, Virginia</p>
                            </div>
                            <div class="col">
                                <span>General Inquiries</span>
                                <a href="mailto:hello@duo-studio.co" class="cursor__hover --highlight">hello@duo-studio.co</a>
                            </div>
                            <div class="col">
                                <span>Follow Us</span>
                                <div class="row">
                                    <a
                                        href="https://www.instagram.com/duostudio_co/"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="cursor__hover --highlight">Instagram,</a>
                                    <a
                                        href="https://www.linkedin.com/company/duostudio/"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="cursor__hover --highlight">LinkedIn</a>
                                </div>
                            </div>
                            <div class="col copyright subtitle">
                                &copy;2023 Duo Studio
                                <a class="cursor__hover --highlight" href="/privacy-policy">Privacy Policy</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </main>
        </div>