#error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(calc(max(52px, 3.125vw)) + #{$spacer}) 9% $spacer $gutter;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: #{$mobile-spacer * 2} $mobile-gutter $mobile-gutter;
  }
}
