#contact {
  height: 100vh;
  position: relative;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 80px;
  @media screen and (max-width: $mobile-breakpoint) {
    padding-bottom: 40px;
  }

  &.home {
    flex-direction: column;

    @media screen and (max-width: $mobile-breakpoint) {
      padding-top: 0;
    }

    body.studio & {
      @media screen and (max-width: $mobile-breakpoint) {
        height: 740px;
        @media (orientation: landscape) {
          height: 400px;
        }
      }
    }

    &.uninit {
      .major {
        h3 {
          opacity: 0;
        }
        h1 {
          transform: translateY(100%);
          opacity: 0;
        }

        a {
          opacity: 0;
          &:before {
            width: 0;
          }
        }
      }

      .minor {
        opacity: 0;
      }
    }
    .major {
      position: relative;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 1em;
      margin-top: 1em;

      @media screen and (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: column;

        @media (orientation: landscape) {
          margin: 1em auto 0;
          display: block;
        }
      }

      .anim-wrap {
        overflow: hidden;
        &:last-of-type {
          h1 {
            transition-delay: 0.2s;
          }
        }
        h1 {
          transition: all 1s ease-in-out;
        }
      }

      h3 {
        margin: 2em 0;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: $mobile-breakpoint) {
          margin: 1em 0;
        }
      }

      a {
        margin: 2em 0 0;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: $mobile-breakpoint) {
          margin: 1em 0 0;
        }
        &::before {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          background: $color-sand;
          transition: all 0.7s ease-in-out 0.6s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: "";
          width: 0;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          background: $color-red;
          transition: 0.3s all ease-in-out;
        }
      }

      .animation {
        position: absolute;
        right: 0;
        bottom: -20px;
        width: 300px;

        @media screen and (max-width: $laptop-breakpoint) {
          width: 20vw;
        }

        @media screen and (max-width: $mobile-breakpoint) {
          width: 22vh;
          bottom: 0;
          position: static;
          order: -1;
          margin-left: auto;
          margin-bottom: -5vh;
          max-width: 185px;
          @media (orientation: landscape) {
            position: absolute;
            width: 20vw;
          }
        }
      }
    }

    .minor {
      position: relative;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 5em auto 0;
      transition: all 0.5s ease-in-out 0.7s;
      @media screen and (max-width: $mobile-breakpoint) {
        margin-top: 1.5em;
        align-items: flex-start;

        h3 {
          width: 150px;
        }
        @media (orientation: landscape) {
          margin-top: 1em;
          width: 80%;
          align-items: flex-end;
        }
      }
      .wrapper {
        display: flex;
        margin-top: 10px;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          @media (orientation: landscape) {
            flex-direction: row;
          }
        }
        a {
          margin: 0 1em 0 0;

          &:last-child {
            margin-right: 0;
          }
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 0 0.2em;
            @media (orientation: landscape) {
              margin: 0 1em 0 0;
            }
          }
        }
      }
    }
  }

  &.contact {
    height: unset;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 5em;
      height: 1000px !important;
    }

    .major {
      width: 50%;
      padding-top: 6em;
      min-width: 790px;
      margin: 0 2em;
      min-height: 890px;
      @media screen and (max-width: $laptop-breakpoint) {
        min-width: 645px;
      }
      @media screen and (max-width: $tablet-breakpoint) {
        min-width: 525px;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        margin: 0 auto 0.5em;
        width: 90%;
        padding-top: 2em !important;
        min-width: unset;

        @media (orientation: landscape) {
          width: 70%;
          padding-top: 0.5em;
        }
      }
      h3 {
        margin-bottom: 0.5em;
      }

      .anim-wrap {
        position: relative;
        overflow: hidden;

        &:not(:first-of-type) {
          height: 84px;
          @media screen and (max-width: $laptop-breakpoint) {
            height: 70px;
          }
          @media screen and (max-width: $mobile-breakpoint) {
            height: 9vw;
            @media (orientation: landscape) {
              height: 6vw;
            }
          }
        }

        .anim {
          &.init {
            transform: translateY(100%);
            opacity: 0;
          }
        }

        .anim__project {
          opacity: 0;
        }

        &:last-of-type {
          margin-bottom: 3em;
        }

        h1 {
          position: absolute;
        }

        h2,
        h1.anim__return {
          position: absolute;
          transform: translateY(112%);
          top: 0;
          opacity: 0;
        }

        h2 {
          @media screen and (max-width: $mobile-breakpoint) {
            font-size: 22px;
          }
        }

        h1.anim__return {
          display: none;

          &.init {
            display: block;
          }
        }
      }

      .container {
        margin: 3em 0 0;
        max-width: 770px;
        height: 540px;
        width: 100%;
        @media screen and (max-width: $tablet-breakpoint) {
          margin: 2em 0 0;
        }
        @media screen and (max-width: $mobile-breakpoint) {
          margin: 1.5em 0 0;
          height: unset !important;
        }

        h3 {
          margin-bottom: 1em;
        }

        aside {
          &:first-of-type {
            margin-bottom: 6em;
            @media screen and (max-width: $mobile-breakpoint) {
              margin-bottom: 4em;
            }
          }
        }
      }

      button {
        margin: 1em 0.5em 0.5em 0;
        display: inline-flex;
        align-items: center;

        @media screen and (max-width: $mobile-breakpoint) {
          margin: 0.5em 0.5em 0.5em 0;
        }
        img {
          width: 20px;
          height: 25px;
          margin-right: 10px;
        }

        &.project {
          img {
            width: 15px;
          }
        }
        &:hover {
          img {
            animation: shake 1s linear infinite;
          }
        }
      }

      .wrapper {
        display: flex;
        align-items: center;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          align-items: flex-start;
        }

        a {
          margin-right: 1em;
          @media screen and (max-width: $mobile-breakpoint) {
            margin-bottom: 0.5em;
          }
        }
      }

      form {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        opacity: 0;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
        }
        .input-wrapper {
          width: 48%;
          @media screen and (max-width: $mobile-breakpoint) {
            width: 100%;
          }

          &.budget {
            input {
              background: #fff;
            }
            .budget-wrapper {
              padding: 15px;
              border: 1px solid $color-red;
              display: flex;
              flex-direction: column;
              align-items: center;
              position: absolute;
              right: 0;
              z-index: 1;
              background: #fff;
              margin-top: 10px;
              transition: all 0.3s;
              transform: translateY(20px);
              pointer-events: none;
              opacity: 0;
              .row {
                margin: 25px 0 10px;
                display: flex;

                .btn-round {
                  padding: 0.5em 1em;
                  margin: 0 5px;
                  width: 120px;
                  text-align: center;
                }
                &:last-of-type {
                  margin: 0 0 10px;
                }
              }
            }

            &.active {
              .budget-wrapper {
                opacity: 1;
                transform: translateY(0);
                pointer-events: initial;
              }
            }
          }
        }

        .checkbox-wrapper {
          margin-bottom: 1em;
          p {
            margin: 1em 0;
          }
          .row {
            display: flex;
            flex-wrap: wrap;
            .btn-round {
              margin-right: 10px;
              padding: 0.5em 1em;

              @media screen and (max-width: $tablet-breakpoint) {
                margin-bottom: 10px;
              }
              &:before {
                transition: all 0.3s;
              }

              &.active {
                &:before {
                  border-color: $color-red;
                }
              }
            }
          }
        }

        .textarea-wrapper {
          width: 100%;
          margin-top: 2em;
          @media screen and (max-width: $tablet-breakpoint) {
            margin-top: 0em;
          }
        }

        .wrapper {
          width: 99%;
          margin-top: 2em;
          justify-content: space-between;
          @media screen and (max-width: $mobile-breakpoint) {
            flex-direction: row;
            align-items: center;
          }
          button {
            margin: 0;
          }
        }

        .prev {
          color: $color-body;
          transition: all 0.3s;

          &:hover {
            letter-spacing: 1px;
          }
        }
      }
    }

    .minor {
      width: 26%;
      max-width: 400px;
      // margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 14px;
    }
  }
}

#thank-you {
  position: fixed;
  height: 100%;
  max-width: 470px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  opacity: 0;
  transform: translateY(40px);
  padding: 0 2em;

  @media screen and (max-width: $mobile-breakpoint) {
    margin: 0 0 auto;
  }
  .img-wrapper {
    max-width: 45%;
  }
  h2 {
    margin: 0.5em 0 0.2em;
  }

  .btn-round {
    margin-top: 5em;
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-top: 3em;
    }
    &:hover {
      img {
        animation: backnforth 1s linear infinite;
      }
    }
    img {
      width: 25px;
      margin-right: 10px;
    }
  }
}

.anim__fixed {
  display: flex;
  width: 26vw;
  max-width: 400px;
  min-width: 325px;
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 10vw auto auto;
  pointer-events: none;
  @media screen and (max-width: $laptop-breakpoint) {
    margin: auto 3vw auto auto;
    min-width: 290px;
    width: 25vw;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
  video {
    width: 100%;
  }
}
