#smooth-wrapper[data-barba-namespace="contact"] {
  #banner {
    z-index: 3;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: calc(calc(max(52px, 3.125vw)) + #{$spacer}) $gutter $spacer;
      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        padding: #{$mobile-spacer * 2} $mobile-gutter $mobile-spacer;
      }
      h1 {
        max-width: 9em;
        text-align: center;
      }
      .row {
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: row;
          margin-top: $mobile-spacer;
        }
        .col {
          width: 9vw;
          min-width: 140px;
          @media screen and (max-width: $mobile-breakpoint) {
            min-width: unset;
            width: auto;
          }
          &:last-of-type {
            margin-left: 3vw;
            @media screen and (max-width: $mobile-breakpoint) {
              margin-left: 2em;
              white-space: nowrap;
            }
            .inner {
              &:not(:first-of-type) {
                margin-top: 1em;
              }
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .footer-spacer {
    display: none;
  }
}
