footer {
  .major {
    padding: 20% 9% 20% 6%;
    > .row {
      align-items: center;

      .btn__circle {
        margin-left: auto;
      }
      &:last-of-type {
        margin-top: 4%;
        .col {
          margin-right: 4em;
          h3 {
            margin-bottom: 0.5em;
          }
          .row {
            a {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .minor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;

    .split__headline {
      .line {
        transform: translateY(50%) rotate(5deg);
        opacity: 0;
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 2em;
    font-size: 12px;
    text-transform: uppercase;
  }
}
