* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  &:focus,
  &:active {
    outline: none;
  }
}

html,
body {
  font-family: $font-ppmori;
  background: $color-pink;
  font-size: 14px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  user-select: none;
  pointer-events: none;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  background: $color-dark-pink;
  border-radius: 50%;

  span {
    opacity: 0;
    transition: opacity 0.3s 0s ease-in-out;
  }

  body.cursor__hidden & {
    opacity: 0;
  }

  body.cursor__hover & {
    width: 65px;
    height: 65px;

    span {
      opacity: 1;
      transition: opacity 0.3s 0.1s ease-in-out;
    }
  }

  @media (hover: none) {
    display: none;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

h1 {
  font-weight: 400;
  letter-spacing: -6px;
  font-size: 9vw;
  line-height: 1;
  &.st__headline {
    .no-overflow {
      .line {
        transform-origin: top left;
      }
    }
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: $font-suisse;
  text-transform: uppercase;
}

h2 {
  font-size: 42px;
  line-height: 1.2;
  text-transform: initial;
  font-family: $font-suisse-r;
  font-weight: 400;
}

h3 {
  font-size: 16px;
}

ul {
  li {
    list-style: none;
  }
}

p {
  font-size: 14px;
  line-height: 1.5;
}

span,
.subtitle {
  font-size: 12px;
  font-family: $font-suisse;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;

  &.u-link {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
    }
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

.btn__circle {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  background: $color-dark-pink;
  color: $color-black;
  border-radius: 50%;
  font-family: $font-suisse;
  transition: background 0.2s;
  > * {
    font-family: inherit;
    font-size: inherit;
  }

  &.active {
    background: $color-pink;
  }
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}
.no-overflow {
  overflow: hidden;
}

.no-pointer {
  pointer-events: none !important;
}

.bg__dark {
  background: $color-black;
  color: $color-pink;
  transition: background 0.4s ease-out, color 0.4s ease-out;
  &.bg__light {
    background: $color-pink;
    color: $color-black;
  }
}

// .bg__light {
//   background: $color-pink;
//   color: $color-black;
// }

.mobile {
  display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}
