* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;

  -webkit-font-smoothing: antialiased;

  &:focus,
  &:active {
    outline: none;
  }
}

html,
body {
  overflow-x: hidden;
  font-family: $font-body;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;

  &.loading {
    .cursor {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: $font-heading;
  color: $color-black;
}

h1 {
  font-size: 70px;
  line-height: 1.25;
  text-transform: lowercase;
  font-weight: 400;
  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 55px;
  }
  @media screen and (max-width: $tablet-breakpoint) {
    font-size: 45px;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 7vw;
  }
}

h2 {
  font-family: $font-body;
  font-size: 45px;
  font-weight: 400;
  text-transform: lowercase;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;
  font-family: $font-subtitle;
  font-style: italic;
  text-transform: uppercase;
  color: $color-red;
  letter-spacing: 2.6px;
  font-weight: normal;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
  #preloader & {
    color: #fff;
  }
}

h4 {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 400;
}

h5,
.menu,
a,
button {
  font-family: $font-body;
  color: $color-black;
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 500;
}

.menu {
  font-size: 16px;
}

p {
  color: $color-body;
  font-size: 16px;
  font-weight: normal;
  font-family: $font-body;
}

a {
  text-decoration: none;
}

input,
textarea {
  color: $color-black;
  font-size: 16px;
  font-family: $font-body;

  &::placeholder {
    color: $color-body;
  }
}

.input-wrapper {
  position: relative;
  margin: 0 0 1em;

  .border {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    background: $color-red;
    left: 0;
    transition: all 0.3s;
  }

  input {
    padding: 1em 0;
    border: none;
    border-bottom: 1px solid $color-sand;
    width: 100%;
    @media screen and (max-width: $mobile-breakpoint) {
      padding: 0.5em 0;
    }
    &:focus ~ .border {
      width: 100%;
    }
  }
}

.textarea-wrapper {
  position: relative;
  textarea {
    width: 100%;
    padding: 2em;
    border: 1px solid $color-sand;
    resize: none;
  }

  textarea ~ .border:before,
  textarea ~ .border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: $color-red;
    transition: 0.2s;
    transition-delay: 0.2s;
  }
  textarea ~ .border:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
  }
  textarea ~ .border i:before,
  textarea ~ .border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background-color: $color-red;
    transition: 0.2s;
  }
  textarea ~ .border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
  }
  textarea:focus ~ .border:before,
  textarea:focus ~ .border:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
  }
  textarea:focus ~ .border:after {
    transition-delay: 0.2s;
  }
  textarea:focus ~ .border i:before,
  textarea:focus ~ .border i:after {
    height: 100%;
    transition: 0.2s;
  }
  textarea:focus ~ .border i:after {
    transition-delay: 0.4s;
  }
}

button,
.btn-round {
  background: #fff;
  padding: 0.5em 2em;
  position: relative;
  border: none;
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 50px;
  }

  &:hover {
    letter-spacing: 1px;
  }
}

.btn-red {
  color: #fff;
  background: $color-red;
  position: absolute;
}

img {
  width: 100%;
  height: auto;
}

.major {
  z-index: 2;
}

.minor {
  z-index: 2;
}

.cursor {
  position: fixed;
  background: #fff;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  z-index: 100;
  transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s ease-in-out 0.1s,
    mix-blend-mode 0.3s ease-in-out 0.1s;
  user-select: none;
  pointer-events: none;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;

  &.bg__dark {
    background: $color-black;
    border-color: $color-black;
    mix-blend-mode: unset;
  }
}

.cursor.active {
  transform: scale(4);
}

.cursor.active__slider {
  background: $color-red;
  border-color: $color-red;
  transform: scale(4);
  mix-blend-mode: initial;

  &:before {
    content: "drag";
    font-size: 3.5px;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.screen {
  fill: $color-red;
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;

  .bg {
    height: 150vh;
    background: $color-red;
    margin-top: -1px;
  }

  &.enter {
    bottom: unset;
    top: 0;
    transform: rotate(180deg);
  }
}

.screen__project {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $color-black;
  z-index: 3;
}

section {
  &.bg__dark {
    background: $color-black;

    h1 {
      color: #fff;
    }
  }

  &.bg__light {
    background: #fff;

    h1 {
      color: $color-black;
    }

    .container {
      header {
        p {
          color: $color-black;
        }
      }
    }
  }

  &.bg__midnight {
    background: $color-midnight;

    h1 {
      color: #fff;
    }
  }
}

.blob__exit {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 4;
  right: calc(4vw + 45px);
  top: 35px;
  transform: translate(50%, -50%);
}
