* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  &:focus,
  &:active {
    outline: none;
  }
}

html,
body {
  font-family: $font-ppmori;
  background: $color-white;
  font-size: calc(max(14px, 0.7071vw));
}

body {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  &.loading {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
    }
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  user-select: none;
  pointer-events: none;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out, border-radius 0.2s ease-in-out,
    padding 0.2s ease-in-out;
  background: $color-dark-pink;
  border-radius: 600px;

  span {
    opacity: 0;
    transition: opacity 0.2s 0s ease-in-out;
  }

  body.cursor__hidden & {
    display: none;
  }

  body.cursor__hover & {
    width: auto;
    height: auto;
    padding: 0.2em 0.8em;

    span {
      opacity: 1;
      transition: opacity 0.2s 0.1s ease-in-out;
    }
  }
  body.cursor__hover--highlight & {
    width: 35px;
    height: 35px;
    padding: 0;
  }

  @media (hover: none) {
    display: none;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.cursor__hover {
  cursor: pointer;
}

.page-transition {
  width: 100vw;
  height: 100vh;
  background: $color-white;
  z-index: 9;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: skew(0, -20deg) translate(0%, 140%);
}

h1 {
  font-weight: 400;
  letter-spacing: -0.03em;
  font-size: 5.73vw;
  line-height: 1;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 12vw;
  }
  &.lg {
    font-size: 11.459vw;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: $font-suisse;
  text-transform: uppercase;
}

h2 {
  font-size: calc(max(24px, 1.771vw));
  line-height: 1.1;
  text-transform: initial;
  font-family: $font-suisse-l;
  font-weight: 300;
}

h3 {
  font-size: calc(max(14px, 1.042vw));
}

ul {
  li {
    list-style: none;
  }
}

p {
  font-family: $font-ppmori;
  font-size: calc(max(14px, 0.834vw));
  line-height: 1.25;
}

span,
.subtitle {
  font-size: 12px;
  font-family: $font-suisse;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;

  &.u-link {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
    }
  }
}

form {
  label {
    cursor: pointer;
  }
  input,
  textarea {
    color: $color-black;
    font-family: $font-suisse;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

.full-width {
  display: flex;
  width: 100%;
}

.btn__circle {
  width: 200px;
  min-width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  background: $color-dark-pink;
  color: $color-black;
  border-radius: 50%;
  font-family: $font-suisse;
  transition: background 0.2s;
  border: none;
  outline: none;
  cursor: pointer;
  @media screen and (max-width: $mobile-breakpoint) {
    width: 125px;
    min-width: 125px;
    height: 125px;
  }
  &.light {
    background: $color-pink;
  }
  > * {
    font-family: inherit;
    font-size: inherit;
  }

  &.active {
    background: $color-pink;
  }
}

.row {
  display: flex;
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}
.no-overflow {
  overflow: hidden;
}

.no-pointer {
  pointer-events: none !important;
}

.st__line {
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: $color-black;
}

section {
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  background: $color-white;
  color: $color-black;
  body.bg__dark & {
    background: $color-black;
    color: $color-white;
    .st__line {
      background: $color-white;
    }
  }
  body.bg__light & {
    background: $color-white;
    color: $color-black;
    .st__line {
    }
  }
}

.pin__banner {
  position: relative;
  padding-top: calc(11.459vw + 62px);
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: calc(62px);
    height: calc(10.459vw + 62px);
    padding-top: 62px;
    padding-left: $gutter;
  }
  .inner {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    .promo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.pin__sticky {
  padding: 0 $gutter;
  .minor {
    max-width: 350px;
  }
  .major {
    width: 65%;
    margin-left: auto;
    img {
      margin-bottom: 4em;
      width: 100%;
    }
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  &.loading {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-pink;
    }
  }
}

#smooth-content {
  overflow: visible;
  width: 100%;
  > section {
    z-index: 2;
    position: relative;
  }
}

.swiper {
  overflow: hidden;
  position: relative;
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    .swiper-slide {
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.slider,
  &.slider__egg {
    .swiper-wrapper {
      .swiper-slide {
        transition-timing-function: cubic-bezier(0.75, 0, 0.25, 1);

        &.swiper-slide-next {
          &:not(.swiper-slide-duplicate-next):not(
              .swiper-slide-duplicate-prev
            ) {
            z-index: 9 !important;
          }
        }
      }
    }
  }
}
.swiper-scrollbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);

  .swiper-scrollbar-drag {
    height: 100%;
    // transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    background: rgba(0, 0, 0, 0.4);
  }
}
.st__headline {
  pointer-events: none;
  overflow: hidden;
  .line__outer {
    overflow: hidden;
  }
}

.hover__headline {
  position: relative;
  overflow: hidden;
  > h1 {
    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(110%) rotate(5deg);
      opacity: 0;
      color: $color-dark-pink;
    }
  }
}

.progress-bar {
  width: 100%;
  max-width: 250px;
  height: 3px;
  background: $color-white;
  position: relative;
  margin: 2em 0;
  .bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: $color-black;
  }

  .bg__trigger & {
    background: rgba(255, 255, 255, 0.4);
  }
}
