#smooth-wrapper[data-barba-namespace="home"] {
  .client-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    z-index: 4;
    pointer-events: none;

    &__mentions {
      display: block;
    }
    &__clients {
      display: none;
    }
    img {
      opacity: 0;
      transition: opacity 0.2s;

      object-fit: cover;
      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    body.init__clients & {
      &__mentions {
        display: none;
      }
      &__clients {
        display: block;
      }
    }
  }
  @for $i from 1 through 20 {
    body.cursor__image.init__#{$i} & {
      .client-images {
        img {
          &:nth-child(#{$i}) {
            opacity: 1;
          }
        }
      }
    }
  }
  #banner {
    .top {
      background: $color-white;
    }
  }

  #intro {
    h1.bottom {
      padding: 0.1em 0 $spacer #{$gutter / 2};
    }
    .row {
      position: relative;
      width: 100%;
      justify-content: space-between;
      padding: $spacer 9% $spacer $gutter;

      h1 {
        margin-bottom: 0.5em;
        width: 55vw;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        align-items: center;
        text-align: center;
      }

      .col {
        &:nth-child(1) {
          width: 52vw;
          padding-right: 4em;
          @media screen and (max-width: $mobile-breakpoint) {
            padding-right: 0;
          }

          p {
            &:first-of-type {
              margin-bottom: 0.4em;
            }
          }
        }
      }
    }
  }

  #work {
    padding: $spacer 0;
    margin-top: -1px;
    > h1 {
      padding: 0 6%;
    }
    .card-container {
      margin-top: 4em;
      .card {
        cursor: pointer;
        display: block;

        &:nth-child(1) {
          width: 35%;
          margin: 0 4% 0 auto;
          .img-wrapper {
            padding-top: 81%;
          }
        }
        &:nth-child(2) {
          width: 50%;
          margin: -10% auto 0 0;
          .img-wrapper {
            padding-top: 68%;
          }
        }
        &:nth-child(3) {
          width: 50%;
          margin: 0 0 10% auto;
          .img-wrapper {
            padding-top: 70%;
          }
        }
        &:nth-child(4) {
          width: 30%;
          margin: 0 auto 0 6%;
          .img-wrapper {
            padding-top: 108%;
          }
        }

        .img-wrapper {
          position: relative;
          overflow: hidden;
          img,
          video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.2s ease-out, filter 0.2s ease-out;
          }
        }

        &:hover {
          .img-wrapper {
            img,
            video {
              transform: scale(1.05);
              filter: blur(5px);
            }
          }
        }
        .card-info {
          display: flex;
          align-items: center;
          padding: 1em 0;
          h3,
          p {
            line-height: 1;
          }
          h3 {
            margin-right: 1em;
          }
        }

        &:nth-child(even) {
          .card-info {
            justify-content: flex-end;
          }
        }
      }
    }

    > .row {
      padding: 0 9% 0 $gutter;
      align-items: center;
      justify-content: space-between;
    }
  }
  #clients {
    padding: 0 0 $spacer;
    margin-top: -1px;

    .collage {
      justify-content: center;
      flex-direction: column;
      position: relative;
      margin-top: -1px;
      padding: #{$spacer * 2} $gutter;

      .content {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          max-width: 200px;
          margin: 0 auto 4em;
          z-index: 1;
          position: relative;
        }

        .hover__headline {
          z-index: 1;
          cursor: pointer;
          mix-blend-mode: difference;
        }

        img {
          position: absolute;

          &.strategy.minor {
            left: 0;
            top: 0;
            transform: translate(30%, -20%) skew(0, 5deg);
            opacity: 0;
            width: 18vw;
          }

          &.strategy.major {
            right: 0;
            bottom: 0;
            transform: translate(0%, -5%) skew(0, -5deg);
            opacity: 0;
            width: 28vw;
          }

          &.identity.minor {
            left: 0;
            bottom: 0;
            transform: translate(60%, 50%) skew(0, 5deg);
            opacity: 0;
            width: 17vw;
          }

          &.identity.major {
            top: 0;
            right: 0;
            transform: translate(-20%, -20%) skew(0, -5deg);
            opacity: 0;
            width: 22vw;
          }

          &.experience.minor {
            left: 0;
            top: 0;
            transform: translate(10%, 10%) skew(0, 5deg);
            opacity: 0;
            width: 25vw;
          }

          &.experience.major {
            right: 0;
            bottom: 0;
            transform: translate(-10%, 5%) skew(0, -5deg);
            opacity: 0;
            width: 20vw;
          }
        }
      }
    }
    header {
      padding: $spacer $gutter 2%;
      position: relative;
      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: row;
      }

      &.no-pointer {
        * {
          pointer-events: none !important;
        }
      }

      .content {
        display: flex;
        align-items: center;
        width: 100%;
        .no-overflow {
          position: relative;
          .line__inner {
            height: 4.73vw;
          }
          h1 {
            color: $color-white;
            transition: transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);

            &:nth-child(2) {
              color: $color-dark-pink;

              position: absolute;
              top: 0;
              left: 0;
            }
          }

          &:nth-child(1) {
            h1 {
              &:nth-child(1) {
                transform: translateY(-110%) rotate(-5deg);
              }
              &:nth-child(2) {
                transform: translateY(0%) rotate(0deg);
              }
            }
          }
          &:nth-child(2) {
            margin-left: 2em;
            h1 {
              &:nth-child(1) {
                transform: translateY(0%) rotate(0deg);
              }
              &:nth-child(2) {
                transform: translateY(110%) rotate(5deg);
              }
            }
          }
        }

        .toggle {
          margin: 0 0 0 auto;
          cursor: pointer;
          .display {
            overflow: hidden;
            display: inline-flex;
            flex-direction: column;
            position: relative;
            line-height: 1;
            &__inner {
              white-space: nowrap;
              margin: 0;
              transition: transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
              min-width: 65px;
              &:not(:first-of-type) {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0%, 100%);
              }
            }
          }
        }
      }
    }

    .container {
      position: relative;
      width: calc(100vw - #{$gutter * 2});
      align-items: center;
      margin: 0 auto;

      &__inner {
        position: relative;
        &.-clients {
          display: none;
        }
        .inner {
          padding: 2vw 0;
          border-bottom: 1px solid $color-pink;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          color: rgba(251, 244, 253, 0.2);
          transition: color 0.2s ease-in-out;
          width: 100%;
          @media screen and (max-width: $mobile-breakpoint) {
            flex-direction: row;
          }
          &:first-of-type {
            border-top: 1px solid $color-pink;
          }

          &.next {
            display: none;
          }

          .wrapper {
            width: 100%;
            max-width: calc(100vw - #{$gutter * 2});
            align-items: center;
            margin: 0 auto;
            h3 {
              line-height: 1;
            }
            p {
              line-height: 1;
              &:first-of-type {
                margin-left: auto;
                margin-right: $gutter;
              }
            }
          }

          &:hover {
            color: $color-white;
          }
        }
        .load-more {
          position: absolute;
          cursor: pointer;
          margin-left: auto;
          margin-top: 2em;
          top: 100%;
          right: 0;
        }
      }
    }

    body.init__clients & {
      header {
        .content {
          .no-overflow {
            &:nth-child(1) {
              h1 {
                &:nth-child(1) {
                  transform: translateY(0%) rotate(0deg);
                }
                &:nth-child(2) {
                  transform: translateY(110%) rotate(5deg);
                }
              }
            }
            &:nth-child(2) {
              h1 {
                &:nth-child(1) {
                  transform: translateY(-110%) rotate(-5deg);
                }
                &:nth-child(2) {
                  transform: translateY(0%) rotate(0deg);
                }
              }
            }
          }
          .toggle {
            .display {
              &__inner {
                &:first-of-type {
                  transform: translate(0%, -100%);
                }
                &:not(:first-of-type) {
                  transform: translate(0%, 0%);
                }
              }
            }
          }
        }
      }
    }
  }
}
