.promo {
  position: fixed;
  width: 100%;
  height: calc(100vh - 17vw);
  position: fixed;
  bottom: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#banner {
  h1 {
    padding-left: 6%;
    padding-right: 6%;
    &.top {
      padding-top: 1em;
    }
    &.bottom {
      text-align: right;
      padding-top: 0.1em;
      border-top: 1px solid $color-pink;
    }
  }
  .promo-spacer {
    height: calc(100vh - 17vw);
    cursor: pointer;
  }

  .row {
    padding: 15% 9% 15% 6%;

    .col {
      &:nth-child(1) {
        max-width: 250px;
        padding-right: 4em;
        p {
          &:first-of-type {
            margin-bottom: 0.4em;
          }
        }
      }
      &:nth-child(2) {
        max-width: 720px;
        margin-right: auto;
        padding-right: 4em;
        h2 {
          margin-bottom: 0.4em;
        }
      }
    }
    &.intro {
      border-top: 1px solid $color-pink;
    }
    &.collage {
      padding-right: 6%;
      justify-content: center;
      padding-right: 6%;
      flex-direction: column;
      position: relative;
      margin-top: -1px;
      .content {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          max-width: 200px;
          margin: 0 auto 4em;
          z-index: 1;
          position: relative;
        }
        h1 {
          z-index: 1;
          position: relative;
          transition: color 0.7s;
          padding: 0;
          cursor: pointer;
          &:hover {
            color: $color-dark-pink;
            + .strategy.minor {
              transform: translate(80%, -30%);
              opacity: 1;
            }

            + .strategy.minor + .strategy.major {
              transform: translate(0%, 35%);
              opacity: 1;
              transition-delay: 0.05s;
            }

            + .identity.minor {
              transform: translate(60%, 40%);
              opacity: 1;
            }

            + .identity.minor + .identity.major {
              transform: translate(-20%, -10%);
              opacity: 1;
              transition-delay: 0.05s;
            }

            + .experience.minor {
              transform: translate(100%, -10%);
              opacity: 1;
            }

            + .experience.minor + .experience.major {
              transform: translate(-10%, 45%);
              opacity: 1;
              transition-delay: 0.05s;
            }
          }
        }

        img {
          transition: transform 0.6s cubic-bezier(0.16, 0.86, 0.3, 1),
            opacity 0.6s cubic-bezier(0.16, 0.86, 0.3, 1);
          position: absolute;

          &.minor {
            max-width: 20%;
          }

          &.minor {
            max-width: 26%;
          }

          &.strategy.minor {
            left: 0;
            top: 0;
            transform: translate(80%, -20%);
            opacity: 0;
          }

          &.strategy.major {
            right: 0;
            bottom: 0;
            transform: translate(0%, 45%);
            opacity: 0;
          }
          &.identity.minor {
            left: 0;
            bottom: 0;
            transform: translate(60%, 50%);
            opacity: 0;
          }

          &.identity.major {
            top: 0;
            right: 0;
            transform: translate(-20%, -20%);
            opacity: 0;
          }

          &.experience.minor {
            left: 0;
            top: 0;
            transform: translate(100%, 0%);
            opacity: 0;
          }

          &.experience.major {
            right: 0;
            bottom: 0;
            transform: translate(-10%, 55%);
            opacity: 0;
          }
        }
      }
    }
  }
}

#work {
  padding: 10% 0 15%;
  margin-top: -1px;
  h1 {
    padding: 0 6%;
  }
  .card-container {
    margin-top: 4em;
    .card {
      cursor: pointer;
      &:nth-child(1) {
        width: 35%;
        margin: 0 4% 0 auto;
        .video-container {
          padding-top: 81%;
        }
      }
      &:nth-child(2) {
        width: 55%;
        margin: -10% auto 0 0;
        .video-container {
          padding-top: 68%;
        }
      }
      &:nth-child(3) {
        width: 60%;
        margin: 5% 0 10% auto;
        .video-container {
          padding-top: 70%;
        }
      }
      &:nth-child(4) {
        width: 35%;
        margin: 0 auto 0 3%;
        .video-container {
          padding-top: 108%;
        }
      }

      &:nth-child(5) {
        width: 55%;
        margin: -10% 0 0 auto;

        .video-container {
          padding-top: 69%;
        }
      }

      .video-container {
        position: relative;
        video {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .card-info {
        display: flex;
        align-items: center;
        padding: 1em 0;
        h3 {
          margin-right: 1em;
        }
      }

      &:nth-child(even) {
        .card-info {
          justify-content: flex-end;
        }
      }
    }
  }
}
