main {

    .nav {
        position: fixed;
        top: 2em;

        &.logo {
            width: 3em;
            position: fixed;
            left: 4em;
            z-index: 1;
            fill: #fff;
            mix-blend-mode: difference;
            font-size: initial;
        }

        &.menu {
            mix-blend-mode: difference;
            color: #fff;
            z-index: 1;
            right: 4em;
        }
    }

    #landing {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        background: #fff;
        @include whiteBackground;
        .minor {
            max-width: 650px;
            overflow: hidden;
            display: flex;
            video {
                width: 100%;
                position: relative;
                bottom: -2px;
            }
        }

        .major {
            max-width: 900px;
            margin-bottom: 3em;
            h4 {
                margin-bottom: 2em;
            }

            aside {
                display: flex;
                transform: translateY(200%);
                .col {
                    position: relative;
                    margin: 0 4em 0 0;

                    h5 {
                        transition: all .3s;
                    }

                    &:before {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: $color-sand;
                        bottom: 0;
                        position: absolute;
                    }

                    &:after {
                        content: "";
                        width: 0;
                        height: 2px;
                        background: $color-red;
                        bottom: 0;
                        position: absolute;
                        transition: all .3s ease-in-out;
                    }
                    
                    &:hover {

                        h5 {
                            letter-spacing: 1px;
                            margin-left: 1px;
                        }

                       &:after {
                           width: 100%
                       }
                    }

                    p {
                        padding: .5em 0 1em;
                    }
    
                }
            }
        }
    }
}