#projects {
  position: relative;
  height: 100vh;
  width: 100%;
  background: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;

  body.init__projects & {
    pointer-events: auto;
  }
  aside {
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 1.5s ease-in-out;
    opacity: 0;

    body.init__projects & {
      transform: translateY(0);
      opacity: 1;
    }

    .slick-list {
      width: 100% !important;
      .slick-track {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
      }
    }
    &.minor {
      max-width: 500px;
      width: 25vw;
      height: 100%;
      transform: translateY(-100%);
      z-index: 3;

      svg {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transform: translateX(-50%);
        z-index: 99;
      }

      .wrapper {
        width: 100%;
        // overflow: hidden;
        display: flex;
        &:hover {
          img {
            &:last-of-type {
              opacity: 1;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:not(:first-of-type) {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out;

            &:last-of-type {
              z-index: 3;
            }
          }
        }

        a {
          position: absolute;
          height: 60px;
          width: 120px;
          background: $color-red;
          top: 0;
          bottom: 0;
          left: -60px;
          z-index: 4;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-radius: 50%;
          padding-right: 25px;
          color: #fff;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 60px;
            height: 100%;
            background: $color-black;
          }
        }
      }

      .slick-current {
        img {
          &:nth-child(2) {
            opacity: 1;
            transition-delay: 1s;
          }
        }
      }

      .slick-slide {
        width: 100% !important;
        pointer-events: none;
        &.allow-pointer {
          pointer-events: auto;
        }
      }
    }

    &.major {
      width: 35%;
      margin-left: 10em;
      transform: translateY(100%);
      h1 {
        color: $color-sand;
        &.num {
          color: $color-midnight;
          font-size: 20vw;
          margin: auto 0;
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
        }
      }

      .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        span {
          color: $color-sand;
          display: flex;
          align-items: center;

          &:before {
            content: "";
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: $color-red;
            margin-right: 5px;
            text-transform: lowercase;
          }
        }
      }

      .slick-current {
        .content {
          opacity: 1;
          transition-delay: 1s;
        }
      }
    }

    .wrapper {
      margin: 50px 0;
      min-height: 28vw;
      max-height: 550px;
      position: relative;

      display: flex !important;
      flex-direction: column;
      justify-content: center;
    }
  }
}

//start single projects

body.project {
  background: $color-black;

  main {
    background: $color-black;
    &.loading {
      #banner {
        opacity: 0;
      }
    }
  }
  section {
    display: flex;
    flex-wrap: wrap;
    &.bg__dark {
      background: $color-black;

      h1 {
        color: #fff;
      }
    }

    &.bg__light {
      background: #fff;

      h1 {
        color: $color-black;
      }

      .container {
        header {
          p {
            color: $color-black;
          }
        }
      }
    }

    &.bg__midnight {
      background: $color-midnight;

      h1 {
        color: #fff;
      }
    }
    .container {
      max-width: 1240px;
      width: 75vw;
      margin: 0 auto;

      @media screen and (max-width: $mobile-breakpoint) {
        width: 90vw;
      }
      header {
        margin: 16vw 0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
        }
        h3 {
          position: relative;
          display: inline-block;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: calc(100% + 10px);

            width: 100vw;
            height: 1px;
            background: $color-red;
          }
        }
        p {
          max-width: 580px;
          margin-top: 3em;
          color: $color-project-body;
          margin-left: 3em;
          @media screen and (max-width: $mobile-breakpoint) {
            margin-left: 0;
          }
        }
      }
    }
  }

  .menu {
    right: 4em;
    height: 140px;
    width: 90px;
    top: -80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.3s;
    z-index: 3;
    transform: translateY(-100%);
    mix-blend-mode: unset !important;
    &:hover {
      letter-spacing: 1px;
      background: #ce3f2f;
    }
    span {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #banner {
    height: 100vh;
    flex-wrap: nowrap;
    overflow: hidden;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    .major {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      &.visible {
        canvas {
          opacity: 1;
        }
      }
      canvas {
        position: absolute;
        top: 90px;
        right: 12vw;
        opacity: 0;
        transition: all 1s;
        @media screen and (max-width: $mobile-breakpoint) {
          top: -250px;
          left: 1em;
          right: unset;
        }
      }
      header {
        margin: auto auto 5em;
        max-width: 950px;
        padding: 0 2em;
        h1,
        h5 {
          color: #fff;
        }
        h1 {
          word-break: break-all;
        }
        p {
          color: $color-project-body;
        }

        .wrapper {
          display: flex;
          margin-top: 3em;
          @media screen and (max-width: $mobile-breakpoint) {
            flex-direction: column;
            margin-top: 1em;
          }
          .col {
            h5 {
              position: relative;
              padding-left: 25px;
              &:before {
                content: "";
                position: absolute;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: $color-red;
                left: 0;
                top: 7px;
              }
            }
            &:first-of-type {
              min-width: 220px;
              margin-bottom: 1em;
            }
            &:last-of-type {
              max-width: 570px;
              margin-left: 5vw;
              @media screen and (max-width: $mobile-breakpoint) {
                margin-left: 25px;
              }
            }
          }
        }
      }
      aside {
        position: absolute;
        top: 90px;
        right: 8vw;
        z-index: 3;
        @media screen and (max-width: $mobile-breakpoint) {
          top: -250px;
          left: 1em;
          right: unset;
        }
        & > a {
          height: 250px;
          width: 320px;
          padding-left: 70px;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        p {
          color: #fff;
          text-transform: lowercase;
          span {
            color: $color-project-body;
          }
        }
      }
    }

    .minor {
      width: 25vw;
      height: 100%;
      @media screen and (max-width: $mobile-breakpoint) {
        order: -1;
        margin-left: auto;
      }
      img {
        height: 100%;
        object-fit: cover;
        float: right;
      }
    }
  }

  #video {
    background: #fff;
    .container {
      display: flex;
      justify-content: center;
      margin: 7vw auto;
    }
  }

  #preview {
    margin-top: -12.5vw;
    padding: 9vw 0;
    position: relative;
    &.bg__midnight {
      &:before {
        content: "";
        position: absolute;
        height: 16.6vw;
        width: 100%;
        left: 0;
        top: 0;
        background: $color-black;
      }

      &:after {
        content: "";
        position: absolute;
        height: 16.6vw;
        width: 100%;
        left: 0;
        bottom: 0;
        background: $color-black;
      }
    }

    .container {
      z-index: 1;

      &.video {
        max-width: 1100px;
        margin: 16.6vw auto -12.5vw;
        video {
          border: 1px solid $color-project-body;
        }
      }
    }

    &.two {
      .container {
        display: flex;
      }
      .img-wrapper {
        width: auto;
        border: 1px solid $color-project-body;

        &:first-of-type {
          margin-right: 4vw;
        }
      }
    }
  }

  #slider {
    .container {
      overflow: hidden;
      padding: 8.3vw 0 8.3vw 8.3vw;
      background: $color-midnight;
      margin-right: 0;
      max-width: 85%;
      width: 100%;

      @media screen and (max-width: $mobile-breakpoint) {
        max-width: 100%;
        padding: 8.3vw 0 8.3vw;
      }
      .slick-list {
        .slick-track {
          display: flex;

          .slide {
            margin-right: 8.3vw;
            max-width: 900px;
            width: 50vw;
            padding: 30px;
            background: $color-black;
            border-radius: 30px;

            @media screen and (max-width: $mobile-breakpoint) {
              max-width: 80vw;
              margin: 0 2em;
              padding: 20px;
              width: 100%;
            }
          }
        }
      }
    }

    &.left {
      .container {
        margin-right: auto;
        margin-left: 0;
        padding: 8.6vw 8.6vw 8.6vw 5em;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 8.6vw 0 8.6vw;
        }
        .slick-list {
          .slick-track {
            .slide {
              max-width: 420px;
              width: 24vw;
              margin-right: 0;
              margin-left: 8vw;
              @media screen and (max-width: $mobile-breakpoint) {
                width: 70vw;
              }
            }
          }
        }
      }
    }
  }
  #sec__three {
    .container {
      header {
        margin-top: 21vw;
      }
      .video {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 16.6vw;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 720px;
          background: $color-midnight;
          top: -5em;
          @media screen and (max-width: $mobile-breakpoint) {
            width: 100vw;
            top: -3em;
          }
        }
        video {
          z-index: 1;
          padding: 30px 30px 0;
          background: $color-black;
          border-radius: 30px;
          @media screen and (max-width: $mobile-breakpoint) {
            padding: 20px;
            width: 75vw;
          }
        }
      }
    }
  }

  #footer {
    height: 100vh;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
    header {
      margin: auto auto 10em;
      max-width: 1200px;
      padding: 0 2em;
    }

    .minor {
      max-width: 20vw;
      height: 100%;
      position: relative;
      img {
        object-fit: cover;
        height: 100%;
      }
      .arrow {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 1px solid $color-black;
        border-radius: 50%;
        bottom: calc(10em - 36px);
        left: 0;
        transform: translateX(-50%);
      }
    }
  }
}
