#smooth-wrapper[data-barba-namespace="project"] {
  #banner {
    .top {
      background: #f1a2f1;
    }
  }

  #intro {
    padding-bottom: 5%;
    h1 {
      padding: 5% $gutter;
    }

    .row {
      &.details {
        padding: 4em 6% 5%;
        .col {
          &:first-of-type {
            margin-right: auto;
          }

          &:nth-last-child(-n + 3) {
            margin-left: 4em;
          }
        }
      }

      &.obj {
        padding: 5% 9% 5% $gutter;
        .col {
          &:nth-child(1) {
            max-width: 250px;
            padding-right: 4em;
            margin-top: 6px;
          }
          &:nth-child(2) {
            max-width: 45vw;
            margin-right: auto;
            padding-right: 4em;
          }
        }
      }
    }
  }

  &.lumina {
    section {
      body:not(.intro-leave) & {
        background: #f1a2f1;
        color: $color-black;
      }
      body.bg__dark & {
        background: #f1a2f1;
        color: $color-black;
      }
    }
    #sec__001 {
      padding: 5% 0;
      .video-wrapper {
        position: relative;
        display: block;
        width: 65%;
        margin: 0 auto 10%;
        padding-top: 46.7%;
        video {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .row {
        position: relative;
        padding: 0 $gutter;
        .col {
          &:nth-child(1) {
            min-width: 200px;
            padding-right: 4em;
          }

          &:nth-child(2) {
            max-width: 50vw;
            h3 {
              margin-bottom: 0.4em;
            }
          }
        }
      }
    }

    #sec__003 {
      padding: 10% 0;

      > h1 {
        padding: 0 5% 5%;
      }

      > img {
        margin: 5% 0 0;
        display: block;
        &:nth-child(3) {
          width: 28vw;
          margin-left: 5%;
        }

        &:nth-child(4) {
          width: 61vw;
          margin-left: auto;
        }
      }
    }

    #sec__004 {
      padding: $spacer 0;
      h1 {
        padding: 0 $gutter;
      }
      > img {
        margin: 5% 0;
      }

      .row {
        padding-top: 5%;
      }
    }

    #sec__005 {
      padding: $spacer 0;
      h1 {
        padding: 0 $gutter;
      }

      .container {
        padding: 0 $gutter;
        margin: $spacer auto;
        display: flex;
      }
    }

    .footer-spacer {
      background: #f7ffcc;
    }
  }
}
