#projects {
  position: relative;
  height: 100vh;
  width: 100%;
  background: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;

  body.init__projects & {
    pointer-events: auto;
  }
  aside {
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 1.5s ease-in-out;
    opacity: 0;

    body.init__projects & {
      transform: translateY(0);
      opacity: 1;
    }

    .slick-list {
      width: 100% !important;
      .slick-track {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
      }
    }
    &.minor {
      max-width: 480px;
      width: 25vw;
      height: 100%;
      transform: translateY(-100%);
      z-index: 3;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 45%;
      }
      svg {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transform: translateX(-50%);
        z-index: 99;
      }

      .wrapper {
        width: 100%;
        overflow: hidden;
        display: flex;

        @media screen and (max-width: $mobile-breakpoint) {
          height: 70vw;
        }
        &:hover {
          img {
            &:last-of-type {
              opacity: 1;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:not(:first-of-type) {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out;

            &:last-of-type {
              z-index: 3;
            }
          }
        }

        a {
          position: absolute;
          height: 60px;
          width: 120px;
          background: $color-red;
          top: 0;
          bottom: 0;
          left: -60px;
          z-index: 4;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-radius: 50%;
          padding-right: 25px;
          color: #fff;
          transform: translateX(-100%);
          transition: all 0.3s;
          &:hover {
            background: #ce3f2f;
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 60px;
            height: 100%;
            background: $color-black;
          }
        }
      }

      .slick-current {
        &.wrapper {
          a {
            transform: translateX(0);
            transition: transform 0.3s 1s, border-radius 0.3s,
              background-color 0.3s;
          }
        }
        img {
          &:nth-child(2) {
            opacity: 1;
            transition-delay: 1s;
          }
        }
      }

      .slick-slide {
        width: 100% !important;
        pointer-events: none;
        &.allow-pointer {
          pointer-events: auto;
        }
      }
    }

    &.major {
      width: 35%;
      margin-left: 10em;
      transform: translateY(100%);
      @media screen and (max-width: $mobile-breakpoint) {
        width: 55%;
        margin-left: 0;
        padding-left: 1em;
      }
      h1 {
        color: $color-sand;
        @media screen and (max-width: $mobile-breakpoint) {
          word-break: break-all;
        }
        &.num {
          color: $color-midnight;
          font-size: 20vw;
          height: 25vw;
          margin: auto 0;
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          @media screen and (max-width: $mobile-breakpoint) {
            word-break: unset;
            font-size: 25vw;
            height: 120px;
          }
        }
      }

      .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 0 20px;
        }
        span {
          color: $color-sand;
          display: flex;
          align-items: center;
          text-transform: lowercase;
          margin-top: 0.5em;
          @media screen and (max-width: $mobile-breakpoint) {
            align-items: flex-start;
          }
          &:before {
            content: "";
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            min-width: 10px;
            background: $color-red;
            margin-right: 5px;
            margin-top: 5px;

            @media screen and (max-width: $mobile-breakpoint) {
              margin-top: 10px;
            }
          }
        }
      }

      .slick-current {
        .content {
          opacity: 1;
          transition-delay: 1s;
        }
      }
    }

    .wrapper {
      margin: 50px 0;
      min-height: 28vw;
      max-height: 550px;
      position: relative;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: $mobile-breakpoint) {
        min-height: 70vw;
        margin: 40px 0;
      }
    }
  }
}

//start single projects

body.project {
  background: $color-black;

  main {
    background: $color-black;
    &.loading {
      #banner {
        opacity: 0;
      }
    }
  }
  section {
    display: flex;
    flex-wrap: wrap;

    .container {
      max-width: 1240px;
      width: 75vw;
      margin: 0 auto;

      @media screen and (max-width: $mobile-breakpoint) {
        width: 90vw;
      }
      header {
        margin: 12vw 0 6vw;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
        }
        .wrapper {
          h1 {
            white-space: nowrap;
          }
        }
        h3 {
          position: relative;
          display: inline-block;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: calc(100% + 10px);

            width: 100vw;
            height: 1px;
            background: $color-red;
          }
        }
        h4 {
          max-width: 580px;
          margin-top: 2.5em;
          margin-left: 6em;
          @media screen and (max-width: $mobile-breakpoint) {
            margin-left: 0;
          }
        }
      }
    }
  }

  .menu {
    right: 4em;
    height: 140px;
    width: 90px;
    top: -80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.3s;
    z-index: 3;
    // transform: translateY(-100%);
    mix-blend-mode: unset !important;
    &:hover {
      letter-spacing: 1px;
      background: #ce3f2f;
    }
    span {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #banner {
    height: 100vh;
    flex-wrap: nowrap;
    overflow: hidden;
    @media screen and (max-width: $mobile-breakpoint) {
      // flex-direction: column;
    }
    .major {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      &.visible {
        canvas {
          opacity: 1;
        }
      }
      canvas {
        position: absolute;
        top: 90px;
        right: 12vw;
        opacity: 0;
        transition: all 1s;
        z-index: -1;
        @media screen and (max-width: $mobile-breakpoint) {
          // top: -250px;
          // left: 1em;
          // right: unset;
          top: 0;

          @media (orientation: landscape) {
            display: none;
          }
        }
      }
      header {
        margin: auto auto 5em;
        max-width: 950px;
        padding: 0 2em;
        h1,
        h5 {
          color: #fff;
        }
        h1 {
          word-break: break-word;
        }
        p {
          color: $color-project-body;
          &:nth-child(2) {
            margin-top: 20px;
          }
        }

        .wrapper {
          display: flex;
          margin-top: 3em;
          @media screen and (max-width: $mobile-breakpoint) {
            flex-direction: column;
            margin-top: 1em;
          }
          .col {
            h5 {
              position: relative;
              padding-left: 25px;
              &:before {
                content: "";
                position: absolute;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: $color-red;
                left: 0;
                top: 10px;
              }
            }
            &:first-of-type {
              min-width: 260px;
              margin-bottom: 1em;
            }
            &:last-of-type {
              max-width: 570px;
              margin-left: 4vw;
              @media screen and (max-width: $mobile-breakpoint) {
                margin-left: 25px;
              }
            }
          }
        }
      }
      aside {
        position: absolute;
        top: 90px;
        right: 8vw;
        z-index: 3;
        @media screen and (max-width: $mobile-breakpoint) {
          // top: -250px;
          // left: 1em;
          // right: unset;
          top: 0;
          @media (orientation: landscape) {
            display: none;
          }
        }
        & > a {
          height: 250px;
          width: 320px;
          padding-left: 70px;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        p {
          color: #fff;
          text-transform: lowercase;
          span {
            color: $color-project-body;
          }
        }
      }
    }

    .minor {
      width: 25vw;
      height: 100%;
      @media screen and (max-width: $mobile-breakpoint) {
        // order: -1;
        // margin-left: auto;
      }
      img {
        height: 100%;
        object-fit: cover;
        float: right;
      }
    }
  }

  #video {
    background: #fff;
    .container {
      display: flex;
      justify-content: center;
      margin: 7vw auto;
      video {
        // border: 1px solid $color-project-body;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  #preview {
    // margin-top: -12.5vw;
    padding: 9vw 0;
    position: relative;
    &.bg__midnight {
      &:before {
        content: "";
        position: absolute;
        height: 16.6vw;
        width: 100%;
        left: 0;
        top: 0;
        background: $color-black;
      }

      &:after {
        content: "";
        position: absolute;
        height: 16.6vw;
        width: 100%;
        left: 0;
        bottom: 0;
        background: $color-black;
      }
    }

    .container {
      z-index: 1;

      &.video {
        max-width: 1100px;
        margin: 16.6vw auto -12.5vw;
        video {
          border: 1px solid $color-project-body;
        }
      }
    }

    &.two {
      .container {
        display: flex;
      }
      .img-wrapper {
        width: auto;
        border: 1px solid $color-project-body;

        &:first-of-type {
          margin-right: 4vw;
        }
      }
    }
  }

  #slider {
    &.bg__light {
      .container {
        background: transparent;
      }
    }

    .container {
      overflow: hidden;
      padding: 8.3vw 0 8.3vw 8.3vw;
      background: $color-midnight;
      margin-right: 0;
      max-width: 85%;
      width: 100%;

      &.slider__center {
        max-width: 100%;
        padding-left: 0;
        .slick-list {
          .slick-track {
            .slide {
              margin: 0 4vw;
              @media screen and (max-width: $mobile-breakpoint) {
                margin: 0 2em;
              }
            }
          }
        }
      }

      @media screen and (max-width: $mobile-breakpoint) {
        max-width: 100%;
        padding: 8.3vw 0 8.3vw;
      }
      .slick-list {
        .slick-track {
          display: flex;

          .slide {
            margin-right: 8.3vw;
            max-width: 900px;
            width: 50vw;
            padding: 30px;
            background: $color-black;
            border-radius: 30px;

            @media screen and (max-width: $mobile-breakpoint) {
              max-width: 80vw;
              margin: 0 2em;
              padding: 20px;
              width: 100%;
            }
          }
        }
      }
    }

    &.left,
    &.right {
      .container {
        padding: 8.6vw 8.6vw 8.6vw 5em;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 8.6vw 0 8.6vw;
        }
        .slick-list {
          .slick-track {
            .slide {
              max-width: 420px;
              width: 24vw;
              margin-right: 0;
              margin-left: 8vw;
              @media screen and (max-width: $mobile-breakpoint) {
                width: 70vw;
              }
            }
          }
        }
      }
    }

    &.left {
      .container {
        margin-right: auto;
        margin-left: 0;
      }
    }
    &.right {
      .container {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
  #sec__three {
    .container {
      header {
        margin-top: 16vw;
      }
      .video {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 16.6vw;
        margin-top: 12vw;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 720px;
          background: $color-midnight;
          top: -5em;
          @media screen and (max-width: $mobile-breakpoint) {
            width: 100vw;
            top: -3em;
          }
        }
        video {
          z-index: 1;
          padding: 30px 30px 0;
          background: $color-black;
          border-radius: 30px;
          max-width: 400px;
          @media screen and (max-width: $mobile-breakpoint) {
            padding: 20px;
            width: 75vw;
          }
        }
      }
    }
  }

  #preview {
    &.img-wrapper__overlap {
      justify-content: center;
      align-items: center;
      padding: 9vw 4em;
      flex-wrap: nowrap;
      width: 100%;
      .col {
        &:first-of-type {
          margin-right: -15%;
          z-index: 1;
        }
      }
    }
  }

  #footer {
    height: 100vh;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: all 1s;

    .major {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      .wrapper {
        display: flex;
        margin-top: 3em;
        opacity: 0;
        transition: all 1s 0.5s;

        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          margin-top: 1em;
        }
        .col {
          h5 {
            position: relative;
            padding-left: 25px;
            &:before {
              content: "";
              position: absolute;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              background: $color-red;
              left: 0;
              top: 10px;
            }
          }
          &:first-of-type {
            min-width: 260px;
            margin-bottom: 1em;
          }
          &:last-of-type {
            max-width: 570px;
            margin-left: 4vw;
            @media screen and (max-width: $mobile-breakpoint) {
              margin-left: 25px;
            }
          }
        }
      }
    }
    header {
      margin: auto auto 5em;
      max-width: 950px;
      padding: 0 2em;
      transform: translateY(50%);
      transition: all 1s;
      width: 100%;

      h3 {
        opacity: 0;
      }

      .anim-wrap {
        overflow: hidden;
        h1 {
          transform: translateY(100%);
          opacity: 0;
        }
      }
      p {
        color: $color-project-body;
        &:nth-child(2) {
          margin-top: 20px;
        }
      }
    }

    .minor {
      max-width: 0;
      height: 100%;
      position: relative;

      img {
        object-fit: cover;
        height: 100%;
        &:last-of-type {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    &.init {
      header {
        transform: translateY(0);
        h3 {
          opacity: 0 !important;
        }
      }

      .major {
        .wrapper {
          opacity: 1;
        }
      }
    }
  }

  &.fgth {
    #sec__two {
      box-shadow: 0 2px 0.1px #fff;
      .container {
        header {
          margin-bottom: 0;
        }
      }
    }

    #slider {
      .container {
        padding-left: 0;
        max-width: 100%;
        background: unset;

        .slick-list {
          .slick-track {
            .slide {
              background: transparent;
              margin: 0 4vw;
              padding: 0;

              @media screen and (max-width: $mobile-breakpoint) {
                max-width: 90vw;
              }
            }
          }
        }
      }
    }

    #sec__three {
      .container {
        header {
          margin-bottom: 8vw;
        }
        .video {
          margin-bottom: 8vw;

          &:before {
            display: none;
          }
          video {
            padding: 0;
            border-radius: unset;
            width: 100%;
            max-width: 100%;
            @media screen and (max-width: $mobile-breakpoint) {
              width: 100%;
            }
          }
        }
      }
    }

    #preview {
      margin-top: 0;
      padding-top: 0;
      .img-wrapper {
        margin-bottom: 8vw;
      }
    }
  }

  &.samata-health {
    #sec__one {
      .container {
        header {
          margin-bottom: 6vw;
        }
      }
    }

    #preview {
      &:after {
        display: none;
      }

      .box {
        max-width: 1040px;
        margin: 0 0 0 9vw;
        position: relative;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 8vw 6vw 8vw 0;
          margin: 0 0 0 12.5vw;
        }
        .col {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          margin: 0 0 0 -9vw;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          height: 100%;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 0 0 -12.5vw;
          }

          * {
            text-transform: initial;
            color: #fff;
            font-weight: 400;
          }

          aside {
            width: 18vw;
            display: flex;
            justify-content: center;
            padding: 2vw 0 2vw;
            margin-right: 5vw;
            @media screen and (max-width: $mobile-breakpoint) {
              width: 25vw;
              padding: 2vw 0 5vw;
            }

            h1 {
              font-size: 10vw;
              @media screen and (max-width: $mobile-breakpoint) {
                font-size: 15vw;
              }
            }
          }
        }
      }

      .img-wrapper {
        background: #7df7ef;
        padding: 8em 6em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        z-index: 1;
        margin: 8em auto 6em;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 2em;
          width: 90vw;
          margin: 4em auto 2em;
        }
        img {
          max-width: 70%;
        }
      }

      .img-wrapper__two {
        display: flex;
        width: 80vw;
        z-index: 1;
        margin: 0 auto;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          width: 90vw;
          align-items: center;
        }
        .col {
          width: 50%;
          padding: 8vw;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 0 2em;
            width: 100%;
            padding: 4em;
          }
          &:first-of-type {
            background: #7df7ef;
            margin-right: 80px;
            @media screen and (max-width: $mobile-breakpoint) {
              margin: 0 0 2em;
              width: 100%;
            }
          }
          &:last-of-type {
            background: #01b0ae;
            img {
              max-width: 340px;
            }
          }
        }
      }

      &.img-wrapper__overlap {
        justify-content: center;
      }
    }

    #sec__two {
      header {
        margin-bottom: 8vw;
      }
      .video {
        border: 1px solid $color-project-body;
        video {
          width: 100%;
        }
      }

      .row {
        display: flex;
        margin: 10em 0;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          margin: 4em 0;
        }
        .col {
          &:nth-child(2) {
            margin: 0 4em;
            @media screen and (max-width: $mobile-breakpoint) {
              margin: 2em 0;
            }
          }
        }
      }
    }

    #sec__three {
      header {
        margin-top: 16vw;
      }
    }

    #slider {
      padding-bottom: 8vw;
      .container {
        background: $color-black;
        .slick-list {
          .slick-track {
            .slide {
              background: $color-midnight;
            }
          }
        }
      }
    }

    #preview {
      display: flex;
      justify-content: flex-end;
      &:not(.bg__midnight) {
        margin-top: 0;
      }
      &.bg__midnight {
        margin-top: 0;
        // padding-top: 0;
        &::before {
          height: 22vw;
        }
      }
    }
  }

  &.rankpay {
    #sec__one {
      .row {
        display: flex;
        max-width: 1600px;
        padding: 0 4em;
        margin: 0 auto;
        justify-content: space-between;

        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          padding: 0 20px;
        }
        .col {
          @media screen and (max-width: $mobile-breakpoint) {
            width: 100% !important;
          }
          &:first-of-type {
            width: 76%;
            margin-right: auto;
            @media screen and (max-width: $mobile-breakpoint) {
              margin-bottom: 1em;
            }
          }

          &:last-of-type {
            width: 16%;
            // min-width: 230px;
            display: flex;
            flex-direction: column;

            img {
              margin-bottom: auto;

              @media screen and (max-width: $mobile-breakpoint) {
                margin: 1em 0;
              }
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    #preview {
      margin-top: 0;
      width: 100%;

      &.two {
        padding-top: 0;
        .img-wrapper {
          padding: 0;
          border: none;
        }
      }

      &.bg__midnight {
        &::before {
          height: 30vw;
        }
        &:after {
          display: none;
        }
      }

      .img-wrapper {
        max-width: 1600px;
        padding: 0 4em;
        margin: 0 auto 6em;
        z-index: 1;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 0;
          max-width: 90vw;
          margin-bottom: 2em;
        }
      }

      .img-wrapper__two {
        display: flex;
        width: 100%;
        z-index: 1;
        margin: 0 auto;
        max-width: 1600px;
        padding: 0 4em;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          width: 90vw;
          padding: 0;
          align-items: center;
        }
        .col {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 0 2em;
            width: 100%;
          }
          &:first-of-type {
            margin-right: 80px;
            @media screen and (max-width: $mobile-breakpoint) {
              margin: 0 0 2em;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.building-creations {
    #preview {
      .container {
        .video {
          video {
            width: 100%;
          }
        }
      }
      &.img-wrapper__overlap {
        margin: 4em 0;
      }

      &.bg__midnight {
        &:after {
          display: none;
        }
      }
    }

    #sec__two {
      .video-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 16vw;

        .video {
          margin-left: auto;
          padding: 8em;
          position: relative;
          width: 90vw;
          max-width: 1350px;

          @media screen and (max-width: $mobile-breakpoint) {
            width: 100vw;
            padding: 2em;
          }

          &:before {
            content: "";
            display: block;
            height: 100%;
            width: 50%;
            background: $color-midnight;
            position: absolute;
            top: 0;
            right: 0;
          }
          &:nth-child(2) {
            margin: 13vw auto 13vw 0;
            &:before {
              right: unset;
              left: 0;
            }
          }
        }
      }
    }

    #sec__three {
      .video {
        &:before {
          height: 550px;
          @media screen and (max-width: $mobile-breakpoint) {
            height: 200px;
          }
        }
      }
    }

    #slider {
      margin-bottom: 16vw;
    }
  }

  &.ambassadher {
    #video {
      .container {
        video {
          box-shadow: none;
        }
      }
    }
  }
}
