#smooth-wrapper[data-barba-namespace="project"] {
  #banner {
    .top {
      background: #f1a2f1;
    }
  }

  #intro {
    padding-bottom: 5%;
    h1 {
      padding: 5% $gutter;
    }

    .row {
      &.details {
        padding: 4em 6% 5%;
        .col {
          &:first-of-type {
            margin-right: auto;
          }

          &:nth-last-child(-n + 3) {
            margin-left: 4em;
          }
        }
      }

      &.obj {
        padding: 5% 9% 5% $gutter;
        .col {
          &:nth-child(1) {
            max-width: 250px;
            padding-right: 4em;
            margin-top: 6px;
          }
          &:nth-child(2) {
            max-width: 45vw;
            margin-right: auto;
            padding-right: 4em;
          }
        }
      }
    }
  }

  &.lumina {
    section {
      body:not(.intro-leave) & {
        background: #f1a2f1;
        color: $color-black;
      }
    }
    #sec__001 {
      padding: 5% 0;
      video {
        display: block;
        width: 70%;
        margin: 0 auto 10%;
      }
      .row {
        position: relative;
        padding: 0 $gutter;
        .col {
          &:nth-child(1) {
            min-width: 200px;
            padding-right: 4em;
          }

          &:nth-child(2) {
            max-width: 50vw;
            h3 {
              margin-bottom: 0.4em;
            }
          }
        }
      }
    }

    #sec__003 {
      padding: 10% 0;

      > h1 {
        padding: 0 5% 5%;
      }
      .row {
        padding: 0 5%;
        .minor {
          max-width: 350px;
        }
        .major {
          width: 65%;
          margin-left: auto;
          img {
            margin-bottom: 4em;
          }
        }
      }

      > img {
        margin: 5% 0 0;
        display: block;
        &:nth-child(3) {
          width: 50%;
          margin-left: 5%;
        }

        &:nth-child(4) {
          width: 70%;
          margin-left: auto;
        }
      }
    }

    #sec__004 {
      padding: 10% 5%;

      > img {
        margin: 5% 0;
      }

      .row {
        padding-top: 5%;
        .minor {
          max-width: 350px;
        }
        .major {
          width: 65%;
          margin-left: auto;
          img {
            margin-bottom: 4em;
          }
        }
      }
    }

    #sec__005 {
      padding: 10% 0;
      h1 {
        padding: 0 5%;
      }
      > .row {
        margin: 5% 0 10%;
        align-items: center;
        .col {
          &:nth-child(1) {
            width: 70%;
          }
          &:nth-child(2) {
            width: 30%;
            padding: 0 5%;
          }
        }
      }

      > .grid {
        width: 80%;
        margin: 0 auto;
        grid-template-areas:
          "image1 image1"
          "image2 image3";
        column-gap: 6em;
        row-gap: 6em;
        grid-column-gap: 6em;
        grid-row-gap: 6em;
        img {
          &:nth-child(1) {
            grid-area: image1;
          }
          &:nth-child(2) {
            grid-area: image2;
          }
          &:nth-child(3) {
            grid-area: image3;
          }
        }
      }
    }
  }
}
