$font-heading: 'Biryani', sans-serif;
$font-body: 'Yantramanav', sans-serif;
$font-subtitle: 'Ubuntu Mono', monospace;

$color-red: #FF1919;
$color-black: #111821;
$color-midnight: #070c14;
$color-sand: #F0E1D1;
$color-grey: #575757;
$color-body: #7B7B7B;

$mobile-breakpoint: 767px;
$max-page-width: 1400px;


@mixin whiteBackground {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: $color-grey;
        mix-blend-mode: screen;
        pointer-events: none;
    }
}
