@import "_fonts.scss";

$font-heading: "Adieu", sans-serif;
$font-body: "neue-haas-unica";
$font-subtitle: "neue-haas-unica", monospace;

// $color-red: #FF1919;
$color-red: #e84a37;
$color-black: #111821;
$color-midnight: #070c14;
$color-sand: #f0e1d1;
$color-grey: #575757;
$color-body: #7b7b7b;
$color-project-body: #c7c7c7;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1024px;
$laptop-breakpoint: 1440px;

@mixin whiteBackground {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $color-grey;
    mix-blend-mode: screen;
    pointer-events: none;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake__min {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 2s linear infinite;
}

.shake__min {
  animation: shake__min 2s linear infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5px);
  }
}
